﻿
@{
    ViewData["Title"] = "Allocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/knd/jszip.min.js"></script>

<script>

    var allocationList = [
        {
            "id": 1,
            "agency": "",
            "clientId": 4410939330,
            "name": "L.K.D Dasanayeke",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 77966.55,
            "promisedAmount": 785.52,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 2,
            "agency": "",
            "clientId": 4121193675,
            "name": "C.D Rashmika",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 126115,
            "promisedAmount": 25000,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 3,
            "agency": "",
            "clientId": 2450962730,
            "name": "N.C.D Dissanayake",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-01T10:30:00.000Z",
            "amount": 39758.21,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 4,
            "agency": "",
            "clientId": 2253317086,
            "name": "P.W.A.V Adhikari",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 53154.5,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 5,
            "agency": "",
            "clientId": 3596403530,
            "name": "M.V.K Sanjeewa",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 38792.08,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 6,
            "agency": "",
            "clientId": 1780106952,
            "name": "M.S.N Madhubhashini Perera",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-03-13T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 56424.34,
            "promisedAmount": 3711,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 7,
            "agency": "",
            "clientId": 2822611966,
            "name": "T.V.T Dhananja Tilakaratna",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 38967.87,
            "promisedAmount": 2213,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 8,
            "agency": "",
            "clientId": 4122027773,
            "name": "L.K.V.T Udeesha Karannagoda",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-02T11:30:00.000Z",
            "amount": 64607.03,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 9,
            "agency": "",
            "clientId": 3081748505,
            "name": "L.C Sansuka Weeraratne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 50806.32,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 10,
            "agency": "",
            "clientId": 3068347821,
            "name": "G.A Asitha Wijeratne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 85692.27,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 11,
            "agency": "",
            "clientId": 2866874235,
            "name": "C.W. Imashini Wichramasinghe",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 74288.26,
            "promisedAmount": 4609.5,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 12,
            "agency": "",
            "clientId": 2919536959,
            "name": "D.S Hamkana Seneviratne",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-03-13T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 83104.17,
            "promisedAmount": 7836.35,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 13,
            "agency": "",
            "clientId": 3255741535,
            "name": "O.T.V Chamari Dodangoda",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-01T10:30:00.000Z",
            "amount": 123082.22,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 14,
            "agency": "",
            "clientId": 4010190646,
            "name": "R.H. Yahani Senanayake",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 67930.42,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 15,
            "agency": "",
            "clientId": 1699265083,
            "name": "E.W Wageesha Iriyagolla",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 54794.32,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 16,
            "agency": "",
            "clientId": 3672594884,
            "name": "N.C Chiranjaya Cooray",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 53254.85,
            "promisedAmount": 1825.5,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 17,
            "agency": "",
            "clientId": 1897867578,
            "name": "V.W.A Fernando Ranwala",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 60437.31,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 18,
            "agency": "",
            "clientId": 2418501614,
            "name": "A.T Amarathunge Kularatne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 123238.15,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 19,
            "agency": "",
            "clientId": 2010401549,
            "name": "S.M Nuwan Wijewardene",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 51609,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 20,
            "agency": "",
            "clientId": 3433734105,
            "name": "L.T Praneeth Dutugemunu",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 114297.52,
            "promisedAmount": "",
            "result": "Promise Made",
            "callingAttempt": 3
        },
        {
            "id": 21,
            "agency": "",
            "clientId": 3444360863,
            "name": "K.M Lokunarangoda Dharmagunawardhana",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 125472,
            "promisedAmount": 12063.75,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 22,
            "agency": "",
            "clientId": 2911949300,
            "name": "D.J Priyashantha Gajabahu",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 114829.21,
            "promisedAmount": 14164.5,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 23,
            "agency": "",
            "clientId": 2426822620,
            "name": "E.M Sanjeewa Jayakody",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 38119.57,
            "promisedAmount": 2250.99,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 24,
            "agency": "",
            "clientId": 3540542298,
            "name": "L.M Kamal Rahula",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 68067.14,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 25,
            "agency": "",
            "clientId": 3256578440,
            "name": "E.K Adeetha Vithanage",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "2020-02-05T9:00:00.000Z",
            "amount": 80538.06,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 26,
            "agency": "",
            "clientId": 4274082682,
            "name": "I.A Dilshana Nissanka",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 68173.5,
            "promisedAmount": 3714.23,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 27,
            "agency": "",
            "clientId": 3569880227,
            "name": "F.P Peshila Gunaratne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 88984.26,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 28,
            "agency": "",
            "clientId": 2396613703,
            "name": "K.M Saranga Dharmagunawardhana",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-01T10:30:00.000Z",
            "amount": 48774.99,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 29,
            "agency": "",
            "clientId": 2693334396,
            "name": "O.W Nadeeka Fonseca",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 55692.13,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 30,
            "agency": "",
            "clientId": 4496966424,
            "name": "K.V Dulani Kotelawala",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 113346.37,
            "promisedAmount": 14000,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 31,
            "agency": "",
            "clientId": 1728890808,
            "name": "T.G Yamuna Sangakkara",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 76534.17,
            "promisedAmount": 3964.72,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 32,
            "agency": "",
            "clientId": 4134337459,
            "name": "U.D Jayashani Seelalankara",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 45205.64,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 33,
            "agency": "",
            "clientId": 1881066603,
            "name": "R.A.V. Nilakshi Edirisinghe",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 62588.32,
            "promisedAmount": 2821.33,
            "result": "Promise Made",
            "callingAttempt": 3
        },
        {
            "id": 34,
            "agency": "",
            "clientId": 3009591199,
            "name": "Y.S.Y Vidusahani Jothipala",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 63919,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 35,
            "agency": "",
            "clientId": 1901263212,
            "name": "L.M.K Jayamini Kehelgamuwa",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 70922.75,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 36,
            "agency": "",
            "clientId": 3144113034,
            "name": "S.F Leelanka Kanakeratne",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-02T11:30:00.000Z",
            "amount": 59287,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 3
        },
        {
            "id": 37,
            "agency": "",
            "clientId": 2980521940,
            "name": "W.D Nihil Kularatne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 109487.55,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 38,
            "agency": "",
            "clientId": 2862778064,
            "name": "E.K Handun Kotiduwakku",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 78291.71,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 39,
            "agency": "",
            "clientId": 2518527643,
            "name": "C.M.N.B Jayamanne Niroshan",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 112921.84,
            "promisedAmount": 17500,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 40,
            "agency": "",
            "clientId": 3121745506,
            "name": "C.V Yuresh Gunawardena",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 37973.18,
            "promisedAmount": 4455.11,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 41,
            "agency": "",
            "clientId": 3702039134,
            "name": "J.A Shehan Edirisinghe",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 39281.71,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 42,
            "agency": "",
            "clientId": 2524309777,
            "name": "D.T Tharuka Jayasinghe",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 90976.86,
            "promisedAmount": 3881.45,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 43,
            "agency": "",
            "clientId": 2764629080,
            "name": "P.S. Suchiritha Goonesekara",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 60375,
            "promisedAmount": 1843.23,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 44,
            "agency": "",
            "clientId": 4148926842,
            "name": "W.X.B Udaya Mahanama",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-02T09:30:00.000Z",
            "amount": 33516.58,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 45,
            "agency": "",
            "clientId": 1966982467,
            "name": "P.M Weerawardhana Maitreya",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-01T11:30:00.000Z",
            "amount": 83440.11,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 3
        },
        {
            "id": 46,
            "agency": "",
            "clientId": 2143461830,
            "name": "M.V. Ruwani Gunaratne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 30290.71,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 47,
            "agency": "",
            "clientId": 3483595035,
            "name": "H.V Inoka Prasanna",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 44801.83,
            "promisedAmount": 1934.67,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 48,
            "agency": "",
            "clientId": 3814323001,
            "name": "D.D Dhanoja Goonesena",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 71529.14,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 49,
            "agency": "",
            "clientId": 3658051758,
            "name": "T.L Nethaka Wichramasinghe",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 33582.88,
            "promisedAmount": 2663.5,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 50,
            "agency": "",
            "clientId": 3445886516,
            "name": "R.V.V Dhanushka Nissanka",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "2020-02-05T9:00:00.000Z",
            "amount": 47066,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        }
    ];

    var promisedList = [
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
    ];

    var rescheduleList = [
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
    ];

    var rnaList = [
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
    ];

    var progressList = [
        { agency: "Agency 1", noOfAccount: 6245, totalDue: 875351.01, collectedCount: 5232, collected: 675258.25, progess: 83, deallocation: 194 },
        { agency: "Agency 2", noOfAccount: 836, totalDue: 82365.01, collectedCount: 652, collected: 65844.25, progess: 74, deallocation: 187 },
        { agency: "Agency 3", noOfAccount: 1356, totalDue: 125035.01, collectedCount: 823, collected: 94253.25, progess: 63, deallocation: 403 },
        { agency: "Agency 4", noOfAccount: 2582, totalDue: 254852.01, collectedCount: 1856, collected: 222552.25, progess: 79, deallocation: 398 },
        { agency: "Agency 5", noOfAccount: 525, totalDue: 36525.01, collectedCount: 458, collected: 33256.25, progess: 92, deallocation: 261 },
        { agency: "Agency 6", noOfAccount: 4553, totalDue: 525586.01, collectedCount: 3525, collected: 425361.25, progess: 76, deallocation: 368 },
        { agency: "Agency 7", noOfAccount: 3581, totalDue: 358841.01, collectedCount: 2583, collected: 258951.25, progess: 68, deallocation: 182 },
    ];

    var progressListAll = [
        { id: 1, parentId: 0, type: "main", agency: "Agency 1", noOfAccount: 6245, totalDue: 875351.01, collectedCount: 5232, collected: 675258.25, progess: 83, deallocation: 0 },
        { id: 2, parentId: 0, type: "main", agency: "Agency 2", noOfAccount: 836, totalDue: 82365.01, collectedCount: 652, collected: 65844.25, progess: 74, deallocation: 12 },
        { id: 3, parentId: 0, type: "main", agency: "Agency 3", noOfAccount: 1356, totalDue: 125035.01, collectedCount: 823, collected: 94253.25, progess: 63, deallocation: 156 },
        { id: 4, parentId: 0, type: "main", agency: "Agency 4", noOfAccount: 2582, totalDue: 254852.01, collectedCount: 1856, collected: 222552.25, progess: 79, deallocation: 19 },
        { id: 5, parentId: 0, type: "main", agency: "Agency 5", noOfAccount: 525, totalDue: 36525.01, collectedCount: 458, collected: 33256.25, progess: 92, deallocation: 26 },
        { id: 6, parentId: 0, type: "main", agency: "Agency 6", noOfAccount: 4553, totalDue: 525586.01, collectedCount: 3525, collected: 425361.25, progess: 76, deallocation: 368 },
        { id: 7, parentId: 0, type: "main", agency: "Agency 7", noOfAccount: 3581, totalDue: 358841.01, collectedCount: 2583, collected: 258951.25, progess: 68, deallocation: 182 },
    ];


    var progressDataList = [{ id: 1, parentId: 2, type: "sub", cycle: "2019 Dec 5", agency: "Agency 1", noOfAccount: 6245, totalDue: 875351.01, collectedCount: 5232, collected: 675258.25, progess: 83, deallocation: 0 },
    { id: 9, parentId: 1, type: "sub", cycle: "2019 Dec 15", agency: "Agency 2", noOfAccount: 836, totalDue: 82365.01, collectedCount: 652, collected: 65844.25, progess: 74, deallocation: 12 },
    { id: 10, parentId: 1, type: "sub", cycle: "2019 Dec 25", agency: "Agency 3", noOfAccount: 1356, totalDue: 125035.01, collectedCount: 823, collected: 94253.25, progess: 63, deallocation: 156 },
    { id: 11, parentId: 3, type: "sub", cycle: "2019 Dec 5", agency: "Agency 4", noOfAccount: 2582, totalDue: 254852.01, collectedCount: 1856, collected: 222552.25, progess: 79, deallocation: 19 },
    { id: 12, parentId: 3, type: "sub", cycle: "2019 Dec 15", agency: "Agency 5", noOfAccount: 525, totalDue: 36525.01, collectedCount: 458, collected: 33256.25, progess: 92, deallocation: 26 },
    { id: 13, parentId: 3, type: "sub", cycle: "2019 Dec 25", agency: "Agency 6", noOfAccount: 4553, totalDue: 525586.01, collectedCount: 3525, collected: 425361.25, progess: 76, deallocation: 368 },
    { id: 15, parentId: 5, type: "sub", cycle: "2019 Dec 15", agency: "Agency 7", noOfAccount: 3581, totalDue: 358841.01, collectedCount: 2583, collected: 258951.25, progess: 68, deallocation: 182 },
    { id: 9, parentId: 2, type: "sub", cycle: "2019 Dec 5", agency: "Agency 2", noOfAccount: 836, totalDue: 82365.01, collectedCount: 652, collected: 65844.25, progess: 74, deallocation: 12 },
    { id: 10, parentId: 2, type: "sub", cycle: "2019 Dec 15", agency: "Agency 3", noOfAccount: 1356, totalDue: 125035.01, collectedCount: 823, collected: 94253.25, progess: 63, deallocation: 156 },
    { id: 11, parentId: 2, type: "sub", cycle: "2019 Dec 25", agency: "Agency 4", noOfAccount: 2582, totalDue: 254852.01, collectedCount: 1856, collected: 222552.25, progess: 79, deallocation: 19 },
    { id: 12, parentId: 1, type: "sub", cycle: "2010 Jan 5", agency: "Agency 5", noOfAccount: 525, totalDue: 36525.01, collectedCount: 458, collected: 33256.25, progess: 92, deallocation: 26 },
    { id: 9, parentId: 7, type: "sub", cycle: "2019 Dec 15", agency: "Agency 2", noOfAccount: 836, totalDue: 82365.01, collectedCount: 652, collected: 65844.25, progess: 74, deallocation: 12 },
    { id: 10, parentId: 6, type: "sub", cycle: "2019 Dec 15", agency: "Agency 3", noOfAccount: 1356, totalDue: 125035.01, collectedCount: 823, collected: 94253.25, progess: 63, deallocation: 156 },
    { id: 11, parentId: 7, type: "sub", cycle: "2019 Dec 25", agency: "Agency 4", noOfAccount: 2582, totalDue: 254852.01, collectedCount: 1856, collected: 222552.25, progess: 79, deallocation: 19 },

    { id: 11, parentId: 4, type: "sub", cycle: "2019 Dec 5", agency: "Agency 4", noOfAccount: 2582, totalDue: 254852.01, collectedCount: 1856, collected: 222552.25, progess: 79, deallocation: 19 },
    { id: 12, parentId: 5, type: "sub", cycle: "2019 Dec 25", agency: "Agency 5", noOfAccount: 525, totalDue: 36525.01, collectedCount: 458, collected: 33256.25, progess: 92, deallocation: 26 },
    { id: 13, parentId: 4, type: "sub", cycle: "2019 Dec 25", agency: "Agency 6", noOfAccount: 4553, totalDue: 525586.01, collectedCount: 3525, collected: 425361.25, progess: 76, deallocation: 368 },
    { id: 15, parentId: 6, type: "sub", cycle: "2019 Dec 15", agency: "Agency 7", noOfAccount: 3581, totalDue: 358841.01, collectedCount: 2583, collected: 258951.25, progess: 68, deallocation: 182 },

    ];

    var performanceList = [
        {
            id: 0,
            perm: [{
                colletionCycle: new Date(2020, 10, 25, 0, 0, 0, 0),
                cycleName: "2019 Oct 25",
                dueAmount: 2554555.55,
                promisedAmount: 2458255,
                collectedAmount: 2325555.35
            },
            {
                colletionCycle: new Date(2020, 11, 5, 0, 0, 0, 0),
                cycleName: "2019 Nov 5",
                dueAmount: 2754555.55,
                promisedAmount: 2318255,
                collectedAmount: 1725555.35
            },
            {
                colletionCycle: new Date(2019, 11, 15, 0, 0, 0, 0),
                cycleName: "2019 Nov 15",
                dueAmount: 3054555.55,
                promisedAmount: 2058255,
                collectedAmount: 1855455.35
            },
            {
                colletionCycle: new Date(2019, 11, 25, 0, 0, 0, 0),
                cycleName: "2019 Nov 25",
                dueAmount: 3454555.55,
                promisedAmount: 2658255,
                collectedAmount: 2644555.35
            },
            {
                colletionCycle: new Date(2019, 12, 5, 0, 0, 0, 0),
                cycleName: "2019 Dec 5",
                dueAmount: 2254555.55,
                promisedAmount: 1758255,
                collectedAmount: 1352555.35
            },
            {
                colletionCycle: new Date(2019, 12, 15, 0, 0, 0, 0),
                cycleName: "2019 Dec 15",
                dueAmount: 2954555.55,
                promisedAmount: 2758255,
                collectedAmount: 2652555.35
            },
            {
                colletionCycle: new Date(2019, 12, 25, 0, 0, 0, 0),
                cycleName: "2019 Dec 25",
                dueAmount: 4154555.55,
                promisedAmount: 3458255,
                collectedAmount: 2705555.35
            },
            {
                colletionCycle: new Date(2020, 1, 15, 0, 0, 0, 0),
                cycleName: "2020 Jan 5",
                dueAmount: 5254555.55,
                promisedAmount: 3858255,
                collectedAmount: 2425555.35
            },
            {
                colletionCycle: new Date(2020, 1, 15, 0, 0, 0, 0),
                cycleName: "2020 Jan 15",
                dueAmount: 4854555.55,
                promisedAmount: 4358255,
                collectedAmount: 4125555.35
            }
            ]

        },
        {
            id: 1,
            perm: [
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Oct 25",
                    "dueAmount": 2277679,
                    "promisedAmount": 277679,
                    "collectedAmount": 377679
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 5",
                    "dueAmount": 2316477,
                    "promisedAmount": 316477,
                    "collectedAmount": 216477
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 15",
                    "dueAmount": 2416477,
                    "promisedAmount": 416477,
                    "collectedAmount": 416477
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 25",
                    "dueAmount": 2586993,
                    "promisedAmount": 586993,
                    "collectedAmount": 486993
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 5",
                    "dueAmount": 2681344,
                    "promisedAmount": 681344,
                    "collectedAmount": 581344
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 15",
                    "dueAmount": 2781344,
                    "promisedAmount": 781344,
                    "collectedAmount": 681344
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 25",
                    "dueAmount": 2895052,
                    "promisedAmount": 895052,
                    "collectedAmount": 795052
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2020 Jan 5",
                    "dueAmount": 2943169,
                    "promisedAmount": 943169,
                    "collectedAmount": 943169
                }
            ]

        },
        {
            id: 2,
            perm: [
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Oct 25",
                    "dueAmount": 2068602,
                    "promisedAmount": 196860,
                    "collectedAmount": 296860
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 5",
                    "dueAmount": 2268602,
                    "promisedAmount": 216860,
                    "collectedAmount": 116860
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 15",
                    "dueAmount": 2314450,
                    "promisedAmount": 231445,
                    "collectedAmount": 231445
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 25",
                    "dueAmount": 2341713,
                    "promisedAmount": 341713,
                    "collectedAmount": 241713
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 5",
                    "dueAmount": 2555518,
                    "promisedAmount": 555518,
                    "collectedAmount": 455518
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 15",
                    "dueAmount": 2659396,
                    "promisedAmount": 459396,
                    "collectedAmount": 359396
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 25",
                    "dueAmount": 2872113,
                    "promisedAmount": 872113,
                    "collectedAmount": 672113
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2020 Jan 5",
                    "dueAmount": 2972113,
                    "promisedAmount": 997211,
                    "collectedAmount": 797211
                }
            ]

        },
        {
            id: 3,
            perm: [
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Oct 25",
                    "dueAmount": 2768119,
                    "promisedAmount": 2268111,
                    "collectedAmount": 2050000
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 5",
                    "dueAmount": 2342139,
                    "promisedAmount": 1342139,
                    "collectedAmount": 1242139
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 15",
                    "dueAmount": 2450181,
                    "promisedAmount": 2150181,
                    "collectedAmount": 1350181
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 25",
                    "dueAmount": 2524379,
                    "promisedAmount": 2224379,
                    "collectedAmount": 1424379
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 5",
                    "dueAmount": 2634630,
                    "promisedAmount": 1863463,
                    "collectedAmount": 1534630
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 15",
                    "dueAmount": 2719950,
                    "promisedAmount": 1719950,
                    "collectedAmount": 619950
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 25",
                    "dueAmount": 2804205,
                    "promisedAmount": 2204205,
                    "collectedAmount": 2004205
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2020 Jan 5",
                    "dueAmount": 2919950,
                    "promisedAmount": 2619950,
                    "collectedAmount": 1819950
                }
            ]

        },
        {
            id: 4,
            perm: [{
                colletionCycle: new Date(2020, 10, 25, 0, 0, 0, 0),
                cycleName: "2019 Oct 25",
                dueAmount: 2554555.55,
                promisedAmount: 2458255,
                collectedAmount: 2325555.35
            },
            {
                colletionCycle: new Date(2020, 11, 5, 0, 0, 0, 0),
                cycleName: "2019 Nov 5",
                dueAmount: 2754555.55,
                promisedAmount: 2318255,
                collectedAmount: 1725555.35
            },
            {
                colletionCycle: new Date(2019, 11, 15, 0, 0, 0, 0),
                cycleName: "2019 Nov 15",
                dueAmount: 3054555.55,
                promisedAmount: 2058255,
                collectedAmount: 1855455.35
            },
            {
                colletionCycle: new Date(2019, 11, 25, 0, 0, 0, 0),
                cycleName: "2019 Nov 25",
                dueAmount: 3454555.55,
                promisedAmount: 2658255,
                collectedAmount: 2644555.35
            },
            {
                colletionCycle: new Date(2019, 12, 5, 0, 0, 0, 0),
                cycleName: "2019 Dec 5",
                dueAmount: 2254555.55,
                promisedAmount: 1758255,
                collectedAmount: 1352555.35
            },
            {
                colletionCycle: new Date(2019, 12, 15, 0, 0, 0, 0),
                cycleName: "2019 Dec 15",
                dueAmount: 2954555.55,
                promisedAmount: 2758255,
                collectedAmount: 2652555.35
            },
            {
                colletionCycle: new Date(2019, 12, 25, 0, 0, 0, 0),
                cycleName: "2019 Dec 25",
                dueAmount: 4154555.55,
                promisedAmount: 3458255,
                collectedAmount: 2705555.35
            },
            {
                colletionCycle: new Date(2020, 1, 15, 0, 0, 0, 0),
                cycleName: "2020 Jan 5",
                dueAmount: 5254555.55,
                promisedAmount: 3858255,
                collectedAmount: 2425555.35
            },
            {
                colletionCycle: new Date(2020, 1, 15, 0, 0, 0, 0),
                cycleName: "2020 Jan 15",
                dueAmount: 4854555.55,
                promisedAmount: 4358255,
                collectedAmount: 4125555.35
            }
            ]

        },
        {
            id: 5,
            perm: [
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Oct 25",
                    "dueAmount": 2768119,
                    "promisedAmount": 2268111,
                    "collectedAmount": 2050000
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 5",
                    "dueAmount": 2342139,
                    "promisedAmount": 1342139,
                    "collectedAmount": 1242139
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 15",
                    "dueAmount": 2450181,
                    "promisedAmount": 2245011,
                    "collectedAmount": 2135081
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Nov 25",
                    "dueAmount": 2524379,
                    "promisedAmount": 2224379,
                    "collectedAmount": 1424379
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 5",
                    "dueAmount": 2634630,
                    "promisedAmount": 1863463,
                    "collectedAmount": 1534630
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 15",
                    "dueAmount": 2719950,
                    "promisedAmount": 1719950,
                    "collectedAmount": 619950
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2019 Dec 25",
                    "dueAmount": 2804205,
                    "promisedAmount": 2204205,
                    "collectedAmount": 2004205
                },
                {
                    "colletionCycle": "2020-11-24T18:30:00.000Z",
                    "cycleName": "2020 Jan 5",
                    "dueAmount": 2919950,
                    "promisedAmount": 2619950,
                    "collectedAmount": 1819950
                }
            ]
        }
    ];

</script>

<style>

    .tdrow {
        font-weight: 600;
        width: 180px;
    }

    table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 2px;
        line-height: 1.42857143;
        vertical-align: top;
    }

    .promise-success {
        background-color: #17d845;
    }

    .promise-fail {
        background-color: #e8574d;
    }

    .promise-pending {
        background-color: #03a9f4;
    }

    .fill-span-blue {
        position: absolute !important;
        top: 2px !important;
        left: 2px !important;
        height: 100% !important;
        background: linear-gradient(to right,#098eef,#cee8fb) !important;
        z-index: -1 !important;
    }

    .fill-span-green {
        position: absolute !important;
        top: 2px !important;
        left: 2px !important;
        height: 100% !important;
        background: linear-gradient(to right,#46ff86,#1bbd54) !important;
        z-index: -1 !important;
    }

    .fill-span-red {
        position: absolute !important;
        top: 2px !important;
        left: 2px !important;
        height: 100% !important;
        background: linear-gradient(to right,#ff000.0,#ffcdcd) !important;
        z-index: -1 !important;
    }

    .fill-span-orange {
        position: absolute !important;
        top: 2px !important;
        left: 2px !important;
        height: 100% !important;
        background: linear-gradient(to right,#efa609,#f1f2d7) !important;
        z-index: -1 !important;
    }

    #gridProgress .k-grid-header .k-header {
        height: 35px;
    }

    #gridProgress .k-grid-content tr {
        height: 35px;
    }

    #gridProgress .k-grid tbody td {
    }
</style>

<script>

    var dataAgency = [{ id: 1, name: "Agency 1" }, { id: 2, name: "Agency 2" }, { id: 3, name: "Agency 3" },
    { id: 4, name: "Agency 4" }, { id: 5, name: "Agency 5" }];
    var dataAllAgency = [{ id: 0, name: "All Agencies" }, { id: 1, name: "Agency 1" }, { id: 2, name: "Agency 2" }, { id: 3, name: "Agency 3" },
    { id: 4, name: "Agency 4" }, { id: 5, name: "Agency 5" }];

    function dirtyField(data, fieldName) {
        var hasClass = $("[data-uid=" + data.uid + "]").find(".k-dirty-cell").length < 1;
        if (data.dirty && data.dirtyFields[fieldName] && hasClass) {
            return "<span class='k-dirty'></span>"
        }
        else {
            return "";
        }
    }

    function setAgencyColor(data, fieldName) {
        if (fieldName == "Agency 1")
            return '<div style="background: #f5bbbb;width: 100 %;height: 100 %;">' + fieldName + '</div>';
        else if (fieldName == "Agency 2")
            return '<div style="background: #b4a6ec;width: 100 %;height: 100 %;">' + fieldName + '</div>';
        else if (fieldName == "Agency 3")
            return '<div style="background: #9ff1bc;width: 100 %;height: 100 %;">' + fieldName + '</div>';
        else if (fieldName == "Agency 4")
            return '<div style="background: #e4f19f;width: 100 %;height: 100 %;">' + fieldName + '</div>';
        else if (fieldName == "Agency 5")
            return '<div style="background: #e19ff1;width: 100 %;height: 100 %;">' + fieldName + '</div>';
        else
            return '';
    }

    function createScheduleGrid() {
        $("#gridSchedule").kendoGrid({
            dataSource: {
                data: allocationList,

            },
            toolbar: ["excel", "search"],

            excel: {
                fileName: "Allocations.xlsx",
                proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
                filterable: true
            },
            height: 380,
            columns: [
                {
                    headerTemplate: '<div style="text-align: center; font-size: 12px">   <input id="checkAll" class="k-checkbox" type="checkbox" >   <label class="k-checkbox-label" for="checkAll"></label>  </div>',
                    template: '#=dirtyField(data,"statusId")# <input id=#=id# class="k-checkbox chckAllocation"   type="checkbox" data-id=#= id# >   <label class="k-checkbox-label" for=#=id#></label>       '
                    , attributes: { style: "text-align: center; font-size: 12px" }, width: 60
                },
                {
                    field: "clientId",
                    title: "CIF",
                    width: 120,
                    type: "string"
                },
                {
                    field: "name",
                    title: "Name",
                    type: "string"
                },
                {
                    field: "overdueDays",
                    title: "Overdue Days",
                    width: 120,
                    attributes: { style: "text-align: right; " },
                    type: "number"
                },
                {
                    field: "dueDate",
                    title: "Due Date",
                    format: "{0:MMM-dd}",
                    width: 100,
                    type: "date"
                },
                {
                    field: "amount",
                    title: "Due Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " },
                    width: 110,
                    type: "number"
                },
                {
                    field: "agency",
                    title: "Agency",
                    type: "string",
                    template: '#=setAgencyColor(data,agency)#'
                },
            ],
            filterable: true,
            sortable: true
        });

        $('#gridSchedule .k-grid-search').before('<input type="search" style="width:200px;" id="searchbox" class="k-autocomplete k-input pull-right" placeholder="Search...">'); $('#gridSchedule .k-grid-search').remove();

        $("#searchbox").keyup(function () {
            var val = $('#searchbox').val();
            var grid = $("#gridSchedule").data("kendoGrid");
            if (val) {
                var filters = []
                $.each(grid.options.dataSource.fields, function (index, value) {
                    if (value.field && grid.options.dataSource.schema.model.fields[value.field].type == "string") {
                        var filter = {
                            field: value.field,
                            operator: "contains",
                            value: val
                        }
                        filters.push(filter);
                    }
                })
                $("#gridSchedule").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: filters
                });
            } else {
                $("#gridSchedule").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: []
                });
            }
        });

        $('.chckAllocation').unbind('click').bind('click', function () {
            if ($("#gridSchedule .k-grid-content").find("input:checkbox:checked").length == $("#gridSchedule .k-grid-content").find("input").length) {
                $("#checkAll").prop("checked", true);
            }
            else {
                $("#checkAll").prop("checked", false);
            }
        });
    }

    function createPerformancedGrid() {
        $("#gridPerformance").kendoGrid({
            dataSource: {
                data: promisedList,
                pageSize: 11
            },
            pageable: true,
            columns: [
                {
                    field: "clientId",
                    title: "CIF",
                    width: 130,
                },
                {
                    field: "name",
                    title: "Name",
                },
                {
                    field: "amount",
                    title: "Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " }
                },
                {
                    field: "promisedAmount",
                    title: "Promised Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " }
                },
                {
                    field: "promisedDate",
                    title: "Date ",
                    format: "{0:dd/MM/yyyy}",
                    width: 120,
                },
                {
                    field: "",
                    title: "",
                    width: 100,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: " <button class='common-button'>View</button>"
                }
            ]
        });


        $("#pieChartPerfm").kendoChart({

            legend: {
                position: "bottom"
            },
            dataSource: {
                data: progressList
            },
            seriesDefaults: {
                type: "pie"
            },
            series: [{
                field: "collected",
                categoryField: "agency",
                padding: 0,
                type: "donut",
                labels: { visible: true, format: "N0" },
                align: "circle"
            },],
            transitions: false,
            // seriesColors: ["#42a7ff", "#666666", "#999999", "#cccccc"],
            tooltip: {
                visible: true,
                template: "#= category # - #= kendo.format('{0:P}', percentage) #"
            },
            theme: "metro",
            height: 300,

        });

    }

    function createPermGrid(indec) {
        var selList = performanceList[indec].perm;
        $("#clmChartPerm").kendoChart({
            title: {
                text: "Last 10 month payments agains due date",
                visible: false
            },
            legend: {
                position: "bottom"
            },
            theme: "metro",
            dataSource: { data: selList },
            series: [
                {
                    field: "dueAmount",
                    categoryField: "cycleName",
                    name: "Due Amount",
                    type: "line",
                    color: "#ff97b3fa"
                },
                {
                    field: "promisedAmount",
                    categoryField: "cycleName",
                    name: "Promised Amount",
                    type: "column",
                    color: "#d784f9"
                }, {
                    field: "collectedAmount",
                    categoryField: "cycleName",
                    name: "Collected Amount",
                    type: "column",
                    color: "#79f177"
                }
            ],
            categoryAxis: {
                majorGridLines: {
                    visible: false
                },
                labels: {
                    rotation: "auto"
                }
            },
            valueAxis: {
                labels: {
                    format: "N0"
                },
                line: {
                    visible: true
                }
            },
            height: 200
        });
    }

    function createProgressGrid() {
        $("#gridProgress").kendoGrid({
            dataSource: {
                data: progressListAll,
                filter: { field: 'type', operator: 'eq', value: 'main' },
                change: function (e) {
                    if (e.field)
                        prevent = true;
                }
            },
            detailInit: detailInit,
            columns: [
                {
                    field: "agency",
                    title: "Agency",
                    type: "string",
                    width: 130,
                },
                {
                    field: "noOfAccount",
                    title: "No of Allocation",
                    format: "{0:N0}",
                    attributes: { style: "text-align: right; " },
                    width: 110,
                    type: "number"
                },
                {
                    field: "totalDue",
                    title: "Total Due Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " },
                    width: 120,
                    type: "number"
                },
                {
                    field: "collectedCount",
                    title: "Collected Count",
                    format: "{0:N0}",
                    attributes: { style: "text-align: right; " },
                    width: 110,
                    type: "number"
                },
                {
                    field: "collected",
                    title: "Collected Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " },
                    width: 110,
                    type: "number"
                },
                {
                    title: "Progress",
                    template: '#: progess# % <span class="spn-fill fill-span-green" style="width:#: progess#%;"></span>',
                    height: 200,
                },
                {
                    field: "deallocation",
                    title: "Deallocated Count",
                    format: "{0:N0}",
                    attributes: { style: "text-align: right; " },
                    width: 110,
                    type: "number"
                }
            ],
            scroll: true,
            height: 390
        });

        function detailInit(e) {
            $('<div/>').appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    data: progressDataList,
                    change: function (e) {
                        if (e.field)
                            prevent = true;
                    },
                    filter: [
                        { field: 'parentId', operator: 'eq', value: e.data.id }
                    ],
                },
                scrollable: true,
                editable: false,
                columns: [
                    {
                        field: "cycle",
                        title: "Collection Cycle",
                        type: "string",
                        width: 130,
                    },
                    {
                        field: "noOfAccount",
                        title: "No of Allocation",
                        format: "{0:N0}",
                        attributes: { style: "text-align: right; " },
                        width: 110,
                        type: "number"
                    },
                    {
                        field: "totalDue",
                        title: "Total Due Amount",
                        format: "{0:N2}",
                        attributes: { style: "text-align: right; " },
                        width: 120,
                        type: "number"
                    },
                    {
                        field: "collectedCount",
                        title: "Collected Count",
                        format: "{0:N0}",
                        attributes: { style: "text-align: right; " },
                        width: 110,
                        type: "number"
                    },
                    {
                        field: "collected",
                        title: "Collected Amount",
                        format: "{0:N2}",
                        attributes: { style: "text-align: right; " },
                        width: 110,
                        type: "number"
                    },
                    {
                        field: "deallocation",
                        title: "Deallocated Count",
                        format: "{0:N0}",
                        attributes: { style: "text-align: right; " },
                        width: 110,
                        type: "number"
                    }
                ]

            });
        };


        $('#gridProgress td .spn-fill').parent().css('z-index', 1);
        $('#gridProgress td .spn-fill').parent().css('position', 'relative');
    }

    $(function () {
        createScheduleGrid();
        createProgressGrid();
        createPerformancedGrid();

        $("#checkAll").bind("click", function (e) {
            if (this.checked)
                $("#gridSchedule").find("input").prop("checked", true);
            else
                $("#gridSchedule").find("input").prop("checked", false);
        });

        $("#ddlAgency").kendoDropDownList({
            dataTextField: "name",
            dataValueField: "value",
            dataSource: dataAgency,

        });

        $("#ddlPerformance").kendoDropDownList({
            dataTextField: "name",
            dataValueField: "value",
            dataSource: dataAllAgency,
            select: chageAgency
        });

        $('.chckAllocation').unbind('click').bind('click', function () {
            if ($("#gridSchedule .k-grid-content").find("input:checkbox:checked").length == $("#gridSchedule .k-grid-content").find("input").length) {
                $("#checkAll").prop("checked", true);
            }
            else {
                $("#checkAll").prop("checked", false);
            }
        });

        $("#btnAllocation").bind("click", function () {
            var agency = $("#ddlAgency").data('kendoDropDownList').text();
            for (var i = 1; i < $("#gridSchedule").find("input").length; i++) {
                if ($($("#gridSchedule").find("input")[i]).prop("checked")) {
                    var id = $($("#gridSchedule").find("input")[i]).data("id"); console.log(id);
                    for (var j = 0; j < $("#gridSchedule").data("kendoGrid").dataSource.data().length; j++) {
                        if ($("#gridSchedule").data("kendoGrid").dataSource.data()[j].id == id) {
                            console.log('found');
                            $("#gridSchedule").data("kendoGrid").dataSource.data()[j]["agency"] = agency;
                            break;
                        }
                    }
                }
            }
            $("#gridSchedule").data("kendoGrid").refresh();
            $("#checkAll").prop("checked", false);
            $('.chckAllocation').unbind('click').bind('click', function () {
                if ($("#gridSchedule .k-grid-content").find("input:checkbox:checked").length == $("#gridSchedule .k-grid-content").find("input").length) {
                    $("#checkAll").prop("checked", true);
                }
                else {
                    $("#checkAll").prop("checked", false);
                }
            });
        });

        $("#btnDeallocation").bind("click", function () {
            for (var i = 1; i < $("#gridSchedule").find("input").length; i++) {
                if ($($("#gridSchedule").find("input")[i]).prop("checked")) {
                    var id = $($("#gridSchedule").find("input")[i]).data("id");
                    for (var j = 0; j < $("#gridSchedule").data("kendoGrid").dataSource.data().length; j++) {
                        if ($("#gridSchedule").data("kendoGrid").dataSource.data()[j].id == id) {
                            $("#gridSchedule").data("kendoGrid").dataSource.data()[j]["agency"] = null;
                            break;
                        }
                    }
                }
            }
            $("#gridSchedule").data("kendoGrid").refresh();
            $("#checkAll").prop("checked", false);
            $('.chckAllocation').unbind('click').bind('click', function () {
                if ($("#gridSchedule .k-grid-content").find("input:checkbox:checked").length == $("#gridSchedule .k-grid-content").find("input").length) {
                    $("#checkAll").prop("checked", true);
                }
                else {
                    $("#checkAll").prop("checked", false);
                }
            });
        });
        createPermGrid(0);
    });

    function chageAgency(e) {
        if (e.dataItem) {
            var dataItem = e.dataItem;
            console.log("event :: select (" + dataItem.name + " : " + dataItem.id + ")");
            createPermGrid(dataItem.id);
        } else {
            console.log("event :: select");
        }
    }

</script>


<div id="main1" class="temp-content" style="height:500px"> </div>
<div id="main2" style="display:none;">
    <div>
        <div id="tabstrip" style="border-color:white">
            <ul>
                <li class="k-state-active">
                    Schedule
                </li>
                <li>
                    Progress
                </li>
                <li>
                    Performance
                </li>

            </ul>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12 els-col">
                                <br />
                                Agency : &nbsp; &nbsp; <div id="ddlAgency" style="width:200px;"></div>  &nbsp; &nbsp;
                                <input type="button" value="Allocation" id="btnAllocation" class="common-button" />
                                <input type="button" value="Deallocation" id="btnDeallocation" class="common-button" />
                                <br /><br />
                                <div id="gridSchedule" style="width:1026px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 els-col">
                                <br />
                                <div style="font-weight: 600;"> Collection Progress in Last Collection Cycle</div>
                                <br />
                                <div id="gridProgress" style="width:1016px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <br />

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7">
                                <div style="border:1px #bddcef solid;margin-left:-10px;margin-right:-5px; height:423px; margin-top:-7px;">
                                    <br />
                                    <div style="font-weight:600; text-align:center"> Agency Performance in Last 10 Collection Cycle</div> <br />
                                    <div style="margin-left: 15px;"> Agency : <div id="ddlPerformance"></div> </div>
                                    <br />
                                    <div style="height:340px; margin-right:5px; margin-left:5px;" id="clmChartPerm"></div>
                                </div>
                            </div>
                            <div class="col-md-4    ">
                                <div style="border:1px #bddcef solid;margin-left:-10px;margin-right:-35px; height:423px;  margin-top:-7px;">
                                    <br />
                                    <div style="font-weight:600; text-align:center"> Agency Performance  </div> <br />
                                    <br />
                                    <div style="height:340px" id="pieChartPerfm"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#main1").css("display", "none");
                $("#main2").css("display", "block");
            }, 500);
            $("#tabstrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });
        });
    </script>

</div>

