﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    
    els.student.basicStat = {};

    (function (context) {
        var quezLit = [{ id: 1, name: "Physic Assignment", status : 1 },   //status =1> open 2 >Inprogress 3= Done
            { id: 2, name: "Math Assigment", status: 1},
            { id: 3, name: "My Quiz 2", status: 2 },
            { id: 4, name: "My Quiz 3", status: 2 },
            { id: 5, name: "My Quiz 4", status: 2 },
            { id: 6, name: "My Quiz 5", status: 1 },
            { id: 7, name: "My Quiz 6", status: 3 },
            { id: 8, name: "My Quiz 7", status: 1},
            { id: 9, name: "My Quiz 8", status: 2 },
            { id: 10, name: "My Quiz 9", status: 1 },
            { id: 11, name: "My Quiz 10", status: 3 },
            { id: 12, name: "My Quiz 11", status: 1 },
            { id: 13, name: "My Quiz 12", status: 1 }
        ];

        context.init = function (options) {
            context.createInitGrid();
        };

        context.createInitGrid = function () {
            $('#quizGrid').empty();
            quezLit.sort(function (a, b) {      //order by descending
                return parseFloat(b.id) - parseFloat(a.id);
            });

            $paperGrid = $('#quizGrid').kendoGrid({
                dataSource:
                {
                    data: quezLit,
                    pageSize: 10
                },              
                columns: [
                    {
                        title: "Assignment",
                        field: "name"
                    },
                    {
                        title: "Status",
                        template: "# if(status==1) {#" + "<div> Open </div>" + " #} else if(status==2) { #" + "<div> Inprogress</div> " + " #} else if(status==3) { #" + "<div> Done </div> " + "#}#",
                        width: 100,
                        attributes: { style: "text-align: center;" }
                    },
                    {
                        title: "Manage",
                        template: "# if(status==1) {#" + " <button type='button' class='common-button'  data-id='#: id#' onclick='els.teacher.basicStat.editQuiz(this)'>Show</button> " + " #}#",
                        width: 100,
                        attributes: { style: "text-align: center;" }
                    },

                    {
                        title: "Basic Stat",
                        template: '<button type="button" class="common-button"  data-id="#: id#" onclick="els.teacher.basicStat.editQuiz(this)">Show</button> ',
                        width: 100,
                        attributes: { style: "text-align: center;" }
                    },
                    {
                        title: "Progrss Stat",
                        template: '<button type="button" class="common-button"  data-id="#: id#" onclick="els.teacher.basicStat.editQuiz(this)">Show</button> ',
                        width: 100,
                        attributes: { style: "text-align: center;" }
                    },
                    {
                        title: "Stat",
                        template: '<button type="button" class="common-button"  data-id="#: id#" onclick="els.teacher.basicStat.editQuiz(this)">Show</button> ',
                        width: 100,
                        attributes: { style: "text-align: center;" }
                    }
                ],
                pageable: {
                    pageSizes: true,
                    buttonCount: 10
                }
            }).data('kendoGrid');
        };

        context.onDataBound = function (args) {
            console.log("Grid data bound");
        };

        context.onDataBinding = function (args) {
            console.log("Grid data binding");
        };

        context.editQuiz = function (button) {
            console.log($(button));
        };
             

        $(window).resize(function () {
            //$maturityGainChart.resize();
            //$speedGapChart.resize();
        });

    })(els.student.basicStat);

</script>




<script>
    $(function () {
        els.student.basicStat.init();
    });
</script>

<h2 class="page-title">My Quizes</h2>
<hr class="hr-title" />

<div id="quizMain">
    <br />
    <div id="quizGrid"></div>
</div>


