﻿body {
}

.temp-content {
    background-position: center center;
    background-color: #FFFFFF;
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
}

.div-content {
    border: 1px solid;
    border-color: #eee;
    margin-bottom: 15px;

}

