﻿    
input:-webkit-autofill {
    border: 1px solid #eee;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

input:focus,
input:-webkit-autofill:focus {
   border-color: #66afe9;
   -webkit-box-shadow: inset 0 0 0px 9999px white, 0 0 8px rgba(102, 175, 233, 0.6);
}

.page-title{
    margin-top:-5px;
}

.content-wrapper {
    background-color: #ffffff  !important;
}

.main-footer {
    background: #f5f9ff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

.content-main {
    margin: 0px 20px 0px 20px;
}
