﻿/* DEFAULTS
----------------------------------------------------------*/

body {
    background: #e2e2e2;
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
    color: #696969;
    font-size: 12px;
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a:link, a:visited {
    color: #034af3;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #034af3;
}

p {
    /* margin-bottom: 10px; */
    line-height: 1.6em;
    font-size: 1.2em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #666666;
    /*font-variant: small-caps;*/
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #CCCCCC;
    background-image: url('../images/Login_BG_MYOB.jpg');
    background-repeat: no-repeat;
}

.page2 {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #CCCCCC;
    background-image: url('../images/Login_BG_MYOB2.jpg');
    background-repeat: no-repeat;
}

.pageessentials {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #CCCCCC;
    background-image: url('../images/Login_BG_MYOB4.jpg');
    background-repeat: no-repeat;
}

.pageotherleadger {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #CCCCCC;
    background-image: url('../images/Login_BG_MYOB5.png');
    background-repeat: no-repeat;
}

.pageLogin {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
}

.pageblank {
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #CCCCCC;
}

.header {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #fff;
    width: 100%;
}

    .header h1 {
        font-weight: 700;
        margin: 0px;
        padding: 0px 0px 0px 20px;
        color: #f9f9f9;
        border: none;
        line-height: 2em;
        font-size: 2em;
    }

.main {
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol {
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    min-height: 200px;
}

.footer {
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink {
    background-color: #3a4f63;
    width: 100%;
}

div.menu {
    padding: 4px 0px 4px 8px;
}

    div.menu ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: auto;
    }

        div.menu ul li a, div.menu ul li a:visited {
            background-color: #465c71;
            border: 1px #4e667d solid;
            color: #dde4ec;
            display: block;
            line-height: 1.35em;
            padding: 4px 20px;
            text-decoration: none;
            white-space: nowrap;
        }

            div.menu ul li a:hover {
                background-color: #bfcbd6;
                color: #465c71;
                text-decoration: none;
            }

            div.menu ul li a:active {
                background-color: #465c71;
                color: #cfdbe6;
                text-decoration: none;
            }

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
    width: 350px;
}

    fieldset p {
        margin: 2px 12px 10px 10px;
    }

    fieldset.login label, fieldset.register label, fieldset.changePassword label {
        display: block;
    }

    fieldset label.inline {
        display: inline;
    }

legend {
    font-size: 1.5em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry {
    width: 320px;
    border: 1px solid #ccc;
    height: 25px;
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

input.passwordEntry {
    width: 320px;
    border: 1px solid #ccc;
    height: 25px;
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

div.accountInfo {
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear {
    clear: both;
}

.title {
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 0px 2px 2px 2px;
    color: #757575;
    background-color: #f2f2f2;
}

    .loginDisplay a:link {
        color: #0064c2;
    }

    .loginDisplay a:visited {
        color: #0064c2;
    }

    .loginDisplay a:hover {
        color: #0064c2;
    }

.failureNotification {
    font-size: 1.2em;
    color: Red;
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.submitButton {
    text-align: right;
    /*padding-right: 10px;*/
}

/* KS Start */
.Login {
    display: block;
    width: 600px;
}


.SignInbtn {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff !important;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff !important;
    box-shadow: inset 0px 1px 0px 0px #ffffff !important;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) ) !important;
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf') !important;
    background-color: #ededed !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border-radius: 6px !important;
    border: 1px solid #dcdcdc !important;
    display: inline-block !important;
    color: #777777 !important;
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif !important;
    font-size: 13px !important;
    font-weight: bold !important;
    padding: 6px 24px !important;
    text-decoration: none !important;
    text-shadow: 1px 1px 0px #ffffff !important;
    cursor: pointer !important;
}

    .SignInbtn:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) ) !important;
        background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% ) !important;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed') !important;
        background-color: #dfdfdf !important;
    }

    .SignInbtn:active {
        position: relative !important;
        top: 1px !important;
    }


.Selectbtn {
    background-color: #ededed;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 14px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
    cursor: pointer;
}

    .Selectbtn:hover {
        background-color: #e3e5e6;
    }

    .Selectbtn:active {
        position: relative;
        top: 1px;
    }

/* This imageless css button was generated by CSSButtonGenerator.com */


.CompanySelectCompany {
    /*font-size: 15px;*/
    font-weight: bold;
}
/* KS End */

/* Grid */

.HeaderStyle {
    background-color: #76c2f2;
    font-size: 13px;
    color: #FFFFFF;
    border: 1px solid #CCCCCC !important;
}

    .HeaderStyle td {
        border: 1px solid #CCCCCC !important;
    }

.RowStyle td {
    background-color: #fff;
    font-size: 13px;
    border: 1px solid #CCCCCC !important;
}

.GridView {
    padding: 3px;
    border: 1px solid #CCCCCC !important;
}

.common-button {
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 0px;
    /*text-align: right;*/
    text-align: center;
    background-color: #0099CC;
    color: #fff;
    /*height: 28px;*/
    cursor: pointer;
    font-size: 1.0em;
    height: 21px;
    font-weight: bold;
}

    .common-button:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

.common-buttonDisabled {
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 0px; /*text-align: right;*/
    text-align: center;
    background-color: #E5E5E5;
    color: #999999; /*height: 28px;*/
    cursor: not-allowed;
    font-size: 1.0em;
    height: 21px;
    font-weight: bold;
}
/*.common-buttonDisabled:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
}*/

.common-button-cancel {
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 0px; /*text-align: right;*/
    text-align: center;
    background-color: #C0C0C0;
    color: #FFFFFF; /*height: 28px;*/
    cursor: pointer;
    font-size: 1.0em;
    height: 21px;
    font-weight: bold;
}

    .common-button-cancel:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

.common-buttonLink {
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 0px;
    text-align: center;
    background-color: #0099CC;
    color: #fff !important;
    text-decoration: none !important;
    /*height: 28px;*/
    cursor: pointer;
    font-size: 1.0em;
    height: 20px !important;
    width: 100px !important;
    font-weight: bold;
    display: block;
    padding-top: 3px;
}

    .common-buttonLink:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

.common-buttonLinkDownload {
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 0px;
    text-align: center;
    background-color: #0099CC;
    color: #fff !important;
    text-decoration: none !important;
    /*height: 28px;*/
    cursor: pointer;
    font-size: 1.0em;
    height: 18px !important;
    width: 80px !important;
    font-weight: bold;
    display: block;
    padding-top: 5px;
}

.common-buttonAttach {
    background-position: 29px center;
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 0px; /*text-align: right;*/
    text-align: left;
    text-indent: 5px;
    background-color: #0099CC;
    color: #fff; /*height: 28px;*/
    cursor: pointer;
    font-size: 1.0em;
    height: 21px;
    font-weight: bold;
    background-image: url('../Images/icon_fileattach.png');
    background-repeat: no-repeat;
}

    .common-buttonAttach:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

.common-buttonEmailPreview {
    background-position: 53px center;
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 0px; /*text-align: right;*/
    text-align: left;
    text-indent: 5px;
    background-color: #0099CC;
    color: #fff; /*height: 28px;*/
    cursor: pointer;
    font-size: 1.0em;
    height: 21px;
    font-weight: bold;
    background-image: url('../Images/icon_emailpreview.png');
    background-repeat: no-repeat;
}

    .common-buttonEmailPreview:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

.common-buttonEmailPreviewDisabled {
    background-position: 53px center;
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 0px; /*text-align: right;*/
    text-align: left;
    text-indent: 5px;
    color: #fff; /*height: 28px;*/
    cursor: pointer;
    font-size: 1.0em;
    height: 21px;
    font-weight: bold;
    background-image: url('../Images/icon_emailpreview.png');
    background-repeat: no-repeat;
    background-color: #E5E5E5;
    cursor: not-allowed;
}

.common-buttonPdfExport {
    background-position: 90px center;
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 0px; /*text-align: right;*/
    text-align: left;
    text-indent: 5px;
    background-color: #0099CC;
    color: #fff; /*height: 28px;*/
    cursor: pointer;
    font-size: 11px;
    height: 21px;
    font-weight: bold;
    background-image: url('../Images/icon_pdfexport.png');
    background-repeat: no-repeat;
}

    .common-buttonPdfExport:hover {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

.btn-campaign-preview {
    background-position: 5px center;
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    text-indent: 5px;
    background-color: #FFFFFF;
    color: #000;
    cursor: pointer;
    font-size: 11px;
    /*height: 21px;*/
    font-weight: bold;
    background-image: url('../Images/Button_campaign_preview.png');
    background-repeat: no-repeat;
    text-indent: 15px;
}

.btn-campaign-create {
    background-position: 5px center;
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    text-indent: 5px;
    background-color: #FFFFFF;
    color: #000;
    cursor: pointer;
    font-size: 11px;
    /*height: 21px;*/
    font-weight: bold;
    background-image: url('../Images/Button_campaign_create.png');
    background-repeat: no-repeat;
    text-indent: 15px;
}

.btn-campaign-duplicate {
    background-position: 5px center;
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    text-indent: 5px;
    background-color: #FFFFFF;
    color: #000;
    cursor: pointer;
    font-size: 11px;
    /*height: 21px;*/
    font-weight: bold;
    background-image: url('../Images/Button_campaign_duplicate.png');
    background-repeat: no-repeat;
    text-indent: 15px;
    margin-top: 5px;
}

.btn-campaign-edit {
    background-position: 5px center;
    font-family: 'Open Sans', 'EB Garamond',sans-serif;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    text-indent: 5px;
    background-color: #FFFFFF;
    color: #000;
    cursor: pointer;
    font-size: 11px;
    /*height: 21px;*/
    font-weight: bold;
    background-image: url('../Images/icon_edit.png');
    background-repeat: no-repeat;
    text-indent: 15px;
    margin-top: 5px;
}

@-moz-document url-prefix() {
    .common-buttonLinkDownload;

{
    height: 16px !important;
}

}

.common-buttonLinkDownload:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.Red {
    color: #FF0000;
}

.Green {
    color: #038011;
}

.k-splitbar {
    width: 4px !important;
}

    .k-splitbar:hover {
        background-color: #0076c9 !important;
    }

.k-icon {
    margin-left: 2px;
    /*background-color:#fff !important; */
}

#ctl00_MainContent_rv_AsyncWait_Wait {
    padding: 0px !important;
    border: 1px solid #C0C0C0 !important;
    background-position: center center;
    background-image: url('../Images/ReportLoading.jpg');
    height: 59px !important;
    width: 177px !important;
    background-repeat: no-repeat;
    margin-top: 150px !important;
    background-color: #fff !important;
}

    #ctl00_MainContent_rv_AsyncWait_Wait table {
        display: none !important;
    }


/* Report Start */
#ctl00_MainContent_rv_ctl05, #ctl00_MainContent_rv_ctl06, #rv_ctl05, #rv_ctl06 {
    background-image: none !important;
    background-color: #eaf4ff !important;
    margin-bottom: 10px;
}

.ReportToolBar {
    background-color: #f2f2f2;
}

#ctl00_MainContent_rv_ctl09, #ctl00_MainContent_rv_ctl10 {
    overflow-y: hidden !important;
    overflow-x: auto;
}
/* Report End */

/*.k-collapse-prev {
    background-color: #fff !important;
}

.k-expand-prev {
    background-color: #fff !important;
}*/

.MainTopTitle {
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-weight: 400;
    font-size: 19px;
    margin-left: 15px;
    color: #929292;
}

.MainTopTitleSub {
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-weight: 400;
    font-size: 16px;
    /*margin-left: 15px;*/
    color: #929292;
}


#commentButton {
    margin-left: 8px;
    margin-bottom: -6px;
}

.TextHideError {
    border-style: solid !important;
    border-width: 0px !important;
    font-size: 12px;
}

.Validation {
    color: Red;
    font-size: 8pt;
    font-family: 'Open Sans','EB Garamond',sans-serif;
}

.BtnLikeActive a {
    background-image: url('../Images/Button_Like_InActive.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
}

    .BtnLikeActive a:hover {
        background-image: url('../Images/Button_Like_Active.png');
        background-repeat: no-repeat;
        height: 16px;
        width: 16px;
        display: block;
        cursor: pointer;
    }

.BtnDisLikeActive a {
    background-image: url('../Images/Button_DisLike_InActive.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
}

    .BtnDisLikeActive a:hover {
        background-image: url('../Images/Button_DisLike_Active.png');
        background-repeat: no-repeat;
        height: 16px;
        width: 16px;
        display: block;
        cursor: pointer;
    }


#layout-container {
    display: inline-block;
}

#MainContent_LoginUser_UserName {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: #fff 1px solid;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif !important;
    color: #696969 !important;
    font-size: 11px !important;
}

    #MainContent_LoginUser_UserName:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(0,153,204,1);
    }


#MainContent_LoginUser_Password {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: #fff 1px solid;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif !important;
    color: #696969 !important;
    font-size: 11px !important;
}

    #MainContent_LoginUser_Password:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(0,153,204,1);
    }


/*input[type=text], textarea {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: #fff 1px solid;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif !important;
    color: #696969 !important;
    font-size: 11px !important;
}

    input[type=text]:focus, textarea:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(0,153,204,1);
    }

input[type=email], textarea {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: #fff 1px solid;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif !important;
    color: #696969 !important;
    font-size: 11px !important;
}

.k-numeric-wrap input[type=text]:focus {
    box-shadow: 0 0 0px #fff;
    -webkit-box-shadow: 0 0 0px #fff;
    -moz-box-shadow: 0 0 0px #fff;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.k-datepicker input[type=text]:focus {
    box-shadow: 0 0 0px #fff;
    -webkit-box-shadow: 0 0 0px #fff;
    -moz-box-shadow: 0 0 0px #fff;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.k-timepicker input[type=text]:focus {
    box-shadow: 0 0 0px #fff;
    -webkit-box-shadow: 0 0 0px #fff;
    -moz-box-shadow: 0 0 0px #fff;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

input[type=password], textarea {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: #fff 1px solid;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

    input[type=password]:focus, textarea:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        padding: 3px 0px 3px 3px;
        margin: 5px 1px 3px 0px;
        border: 1px solid rgba(0,153,204,1);
    }*/

/*------- User Menu Start ------- */
.usermenu a {
    text-decoration: none;
}

.usermenu {
    /*font-family: Arial;*/
    color: #515151;
    min-width: auto;
    position: relative;
    height: 20px; /**/
    text-align: left;
    /*width: 202px;*/
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ddd;
    /*z-index: 99999 !important;*/
    margin-left: 2px;
    padding-right: 1px;
}

    .usermenu li a {
        color: #515151;
        display: block;
        padding: 6px 8px;
        cursor: pointer;
        /*font-size: 14px;*/
    }

        .usermenu li a:hover {
            background: #eff6ff;
            color: #003d88;
        }

.sub {
    background: #fff;
    position: absolute;
    z-index: 2;
    min-width: 150px;
    /*border-radius: 3px;
            box-shadow: 0 2px 4px #ddd;*/
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ddd;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-left-color: #ddd;
    display: none;
    /*margin-left: 5px;*/
    padding-top: 4px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;
    margin-top: 4px;
    margin-left: -1px;
}

a.hover-link {
    min-width: 10px;
    /*background: #fff;
	        font-size: 14px;*/
    color: #515151;
    /* position: absolute; */
    z-index: 110;
    display: block;
    height: 14px;
    cursor: pointer;
    /*border-radius: 5px 5px 0 0;
            font-weight: bold;
	        border: 1px solid #ddd;*/
    padding-top: 1px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 2px;
    margin-right: 4px;
    margin-left: 4px;
}

.sub-options {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}
/*------- User Menu End ------- */
/*------- Company Menu Start ------- */
.companymenu a {
    text-decoration: none;
}

.companymenu {
    /*font-family: Arial;*/
    color: #515151;
    min-width: auto;
    position: relative;
    height: 20px; /**/
    text-align: left;
    /*width: 202px;*/
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ddd;
    /*z-index: 99999 !important;*/
    margin-left: 2px;
    padding-right: 1px;
}

    .companymenu li a {
        color: #515151;
        display: block !important;
        padding: 6px 8px;
        cursor: pointer;
        /*font-size: 14px;*/
    }

        .companymenu li a:hover {
            background: #eff6ff;
            color: #003d88;
        }

.sub2 {
    background: #fff;
    position: absolute;
    z-index: 2;
    min-width: 150px;
    /*border-radius: 3px;
            box-shadow: 0 2px 4px #ddd;*/
    border-top-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ddd;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-left-color: #ddd;
    display: none;
    /*margin-left: 5px;*/
    padding-top: 4px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;
    margin-top: 4px;
    margin-left: -1px;
}

a.hover-link {
    min-width: 10px;
    /*background: #fff;
	        font-size: 14px;*/
    color: #515151;
    /* position: absolute; */
    z-index: 110;
    display: block;
    height: 15px;
    cursor: pointer;
    /*border-radius: 5px 5px 0 0;
            font-weight: bold;
	        border: 1px solid #ddd;*/
    padding-top: 2px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 2px;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: -1px;
}

.sub-options {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}

.common-message-popup {
    border: 1px solid #C0C0C0;
    min-width: 300px;
    min-height: 50px;
    margin: 0 auto;
    display: table;
    text-align: center;
    background-color: #fff;
    margin-top: 22%;
    -moz-box-shadow: 0 0 10px #989898;
    -webkit-box-shadow: 0 0 10px #989898;
    box-shadow: 0px 0px 10px #989898;
}

.Subscribeinner {
    border: 1px solid #C0C0C0;
    width: 50%;
    margin: 0 auto;
    display: table;
    text-align: center;
    background-color: #fff;
    margin-top: 22%;
    height: 200px;
    -moz-box-shadow: 0 0 10px #989898;
    -webkit-box-shadow: 0 0 10px #989898;
    box-shadow: 0px 0px 10px #989898;
}


.Trans {
    background-image: url('../Images/Trans.png');
    background-repeat: repeat;
}
/*------- User Menu End ------- */

.k-item {
    color: #575757;
}


.new {
    color: #ffd200;
    font-weight: bold;
    font-size: 8px;
}
/* CF WhatIF Start*/
.TextboxLableCF {
    border-style: solid;
    border-width: 1px !important;
    font-size: inherit;
    text-align: right;
    color: inherit;
}

.TextboxLableCFText {
    border-style: solid;
    border-width: 0px !important;
    background-color: #fff;
    color: inherit;
    font-size: inherit;
}

.TextboxLableCFGreen {
    border-style: solid;
    border-width: 0px !important;
    background-color: #fff;
    color: #009728;
    font-weight: bold;
    text-align: left;
}

.TextboxLableCFBlack {
    border-style: solid;
    border-width: 0px !important;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-align: left;
}


/**/
/*
.k-header
{
    font-weight:bold !important;
}
*/

/**/
.GridSelectedRow {
    color: #fff !important;
    font-weight: bold !important;
    background-color: #739fdd !important;
}

#cerebizpopup {
    display: block;
    /*height: 325px;*/
    width: 500px;
    border: 1px solid #fff;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 999999;
    display: none;
    background-color: #fff;
}

    #cerebizpopup .title {
        display: block;
        width: 100%;
        height: 25px;
        background-color: #25a0da;
        color: #fff;
        border-bottom: 2px solid #fff;
        font-size: 13px;
        padding-top: 5px;
        text-indent: 5px;
    }

    #cerebizpopup .container {
        display: block;
        width: 100%;
        height: 100%;
        /*height:458px !important;*/
        background-color: #fff;
    }

    #cerebizpopup .tileicon {
        padding-top: 5px;
        padding-right: 5px;
        float: right;
    }

/* Switch Company Start*/
.companyName {
    min-width: 180px;
}

.kpi-column {
    width: 75px;
    text-align: center;
}

    .kpi-column img {
        padding-top: 5px;
        padding-bottom: -5px;
    }

.toggle {
    cursor: pointer;
}

    .toggle:hover {
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
    }

#companyGridPH table tr:nth-child(odd) {
    background-color: #f5f5f5;
}

#companyGridPH table, #companyGridPH td, #companyGridPH th {
    border: 1px solid #dbdfdf;
    border-collapse: collapse;
    border-spacing: 0px !important;
    padding-left: 4px;
}

    #companyGridPH table th {
        background-color: #fff;
        vertical-align: top;
        text-align: left;
    }

#companyGridPH tbody tr {
    line-height: 25px;
}

.kpi-header {
    margin: 2px;
    background-image: url('../Images/DBViewTitleIcon.png');
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 12px;
    vertical-align: top;
}

.kpi-headerNew {
    margin: 2px;
    background-image: url('../Images/DBViewTitleIcon.png');
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 12px;
    vertical-align: top;
    word-break: break-all;
    min-width: 35px;
    text-align: left;
}

/* Switch Company End*/



/* KPI Benchmarking Start */

.bg-red {
    background-color: #ffa1a1;
}

.bg-yellow {
    background-color: #ffff8e;
}

.bg-green {
    background-color: #96ff96;
}

.vertical-text {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
    font-size: 12px;
}

.vertical-text-inner {
    display: inline-block;
    white-space: nowrap;
    line-height: 1.5;
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
    /* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
    .vertical-text-inner:after {
        content: "";
        display: block;
        margin: -1.5em 0 100%;
    }

/*
    <th><div class="vertical-text"><div class="vertical-text-inner">First th</div></div></th>
    */

.kpi-table {
    margin: 0px;
    border: 1px solid #dadada !important;
    border-collapse: collapse;
    padding: 0px !important;
    border-spacing: 0px !important;
    font-size: 12px !important;
}

#kpilist {
    font-size: 12px !important;
}

    #kpilist tr:nth-child(odd) {
        background-color: #f5f5f5;
    }

.kpi-table thead {
    border: 1px solid #dadada;
    border-collapse: collapse;
    padding: 0px !important;
    border-spacing: 0px !important;
    opacity: 1 !important;
}

.kpi-table th {
    text-align: center;
    border-style: solid;
    /*border-width: 0px 1px 0px 1px !important;*/
    border-width: 0px 0px 0px 1px !important;
    border-color: #dadada;
    padding: 3px;
    border-spacing: 0px;
    height: 20px;
}

.kpi-table td {
    border-style: solid;
    /*border-width: 0px 1px 0px 1px !important;*/
    border-width: 0px 0px 0px 1px !important;
    border-color: #dadada;
    padding: 3px;
    border-spacing: 0px;
    height: 20px;
}

    .kpi-table td:first-child {
        text-align: left;
    }

.kpi-table tr:nth-child(even) {
    /*opacity: 0.8;*/
    /*background-color: #FF00FF !important;
    background-color: rgba(255,255,255,0.3);*/
}

#green td:nth-child(even) {
    background-color: #FF00FF !important;
}

.kpi-table td {
    text-align: right;
}

.kpi-table tr::alternate {
    background-color: #f5f5f5;
}



#kpilist tr::alternate {
    background-color: #f5f5f5;
}

.kpilist-tr-alternate tr:nth-child(odd) {
    background-color: #f5f5f5;
}
/* KPI Benchmarking End */

/* User Roles Start */
.userroles_cerebiz {
    background-image: url('../Images/Tree_Cerebiz.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_budget {
    background-image: url('../Images/Tree_Budget.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_cash {
    background-image: url('../Images/Tree_Cash.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_profit {
    background-image: url('../Images/Tree_Profit.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_analyzer {
    background-image: url('../Images/Tree_Analyzer.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_jobs {
    background-image: url('../Images/Tree_Jobs.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_item {
    background-image: url('../Images/Tree_Item.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_db {
    background-image: url('../Images/Tree_DB.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_whatif {
    background-image: url('../Images/Tree_WhatIf.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_report {
    background-image: url('../Images/Tree_Report.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_folderdb {
    background-image: url('../Images/Tree_FolderDB.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_folderwhatif {
    background-image: url('../Images/Tree_FolderWhatIf.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_folderreport {
    background-image: url('../Images/Tree_FolderReport.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_reception {
    background-image: url('../Images/Tree_Reception.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_admin {
    background-image: url('../Images/Tree_Admin.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_dashboard {
    background-image: url('../Images/Tree_DashBoard.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_campaign {
    background-image: url('../Images/Tree_Campaign.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_AEAO {
    background-image: url('../Images/Tree_AEAO.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}
/*.userroles_checkbox {
    height: 20px !important;
    width: 20px !important;
}*/

/* User Roles End */

/* CompanyGroupAdministration Start */
.Tree_HolderBox {
    border: 1px solid #dbdbdb;
    padding: 10px 10px 10px 0px;
    margin: 10px 0px 10px 0px;
    min-height: 500px;
}

.companygrouping_level1 {
    background-image: url('../Images/Tree_company_level1.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.companygrouping_level2 {
    background-image: url('../Images/Tree_company_level2.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.companygrouping_level3 {
    background-image: url('../Images/Tree_company.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}
/* CompanyGroupAdministration End */
/* Company dashboard settings Start */
.companydashboard_allkpi {
    background-image: url('../Images/Tree_Cerebiz.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.companydashboard_bskpi {
    background-image: url('../Images/Tree_bskpi.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.companydashboard_bmkpi {
    background-image: url('../Images/Tree_bmkpi.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.companydashboard_company {
    background-image: url('../Images/Tree_company.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_consolidation {
    background-image: url('../Images/userroles_consolidation.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}

.userroles_reminder {
    background-image: url('../Images/userroles_reminder.png');
    background-repeat: no-repeat;
    height: 24px !important;
    width: 24px !important;
}
/* Company dashboard settings End */

/* KS popup Start */
.ks-popup-title {
    font-size: 1.2em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dadada;
    text-align: left;
    height: 25px;
    padding-left: 8px;
}

.ks-popup-body {
    padding: 8px;
}

/* KS popup End */

.k-i-calendar {
    margin-top: 3px;
}

.k-i-clock {
    margin-top: 3px;
}

/* Reminder Start */
.email_status_ok {
    height: 24px;
    width: 24px;
    background-image: url('../Images/Ico_Email_Ok.png');
    background-repeat: no-repeat;
}

.email_status_failed {
    height: 24px;
    width: 24px;
    background-image: url('../Images/Ico_Email_Failed.png');
    background-repeat: no-repeat;
}

.sms_status_ok {
    height: 24px;
    width: 24px;
    background-image: url('../Images/Ico_SMS_Ok.png');
    background-repeat: no-repeat;
}

.sms_status_failed {
    height: 24px;
    width: 24px;
    background-image: url('../Images/Ico_SMS_Failed.png');
    background-repeat: no-repeat;
}

.sms_email_ok {
    background-position: center;
    height: 16px;
    /*width: 15px;*/
    background-image: url('../Images/Ico_Reminder_Ok.png');
    background-repeat: no-repeat;
    display: block;
}

.sms_email_faild {
    background-position: center;
    height: 16px;
    /*width: 15px;*/
    background-image: url('../Images/HTMLControls/icon-wrong.png');
    background-repeat: no-repeat;
    display: block;
}





.email_icon {
    background-position: center;
    height: 16px;
    width: 16px;
    background-image: url('../Images/Email.png');
    background-repeat: no-repeat;
    display: block;
}

.phone_icon {
    background-position: center;
    height: 16px;
    width: 16px;
    background-image: url('../Images/phone.png');
    background-repeat: no-repeat;
    display: block;
}

.mobile_icon {
    background-position: center;
    height: 16px;
    width: 16px;
    background-image: url('../Images/mobile.png');
    background-repeat: no-repeat;
    display: block;
}

.fax_icon {
    background-position: center;
    height: 16px;
    width: 16px;
    background-image: url('../Images/fax.png');
    background-repeat: no-repeat;
    display: block;
}

#msgContent {
    font-size: 10px !important;
}

    #msgContent p {
        font-size: 10px !important;
    }

.msgHistoryDetail {
    padding: 5px 5px 5px 5px;
    height: 130px;
    min-height: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #E4E4E4;
}

.previewTemplate p {
    font-size: 11px;
}
/* Reminder End */

/* PM Reception Start */
.priority_high {
    font-weight: bold;
    color: #ff0000;
}

.priority_medium {
    font-weight: bold;
}

.priority_low {
    font-weight: bold;
    color: #6ea3fb;
}
/* PM Reception End */



/* Analyzer (HTML) Start */
.AnalyzerToolbatBG {
    background-image: url('../Images/HTMLAnalyzerToolbg.gif');
    background-repeat: repeat-x;
    display: block;
}
/* Analyzer (HTML) End */
/* Report Schedule Configuration Start */
.emailselectorlist {
    border-style: none solid solid solid !important;
    border-width: 0px 1px 1px 1px !important;
    height: 80px;
    display: block;
    overflow: auto;
    width: 590px;
    border-right-color: #c9c9c9 !important;
    border-bottom-color: #c9c9c9 !important;
    border-left-color: #c9c9c9 !important;
    margin-top: -1px;
}

.emailselectorlistTopBorder {
    border-top: 1px solid #c9c9c9 !important;
    height: 1px;
    display: block;
    width: 592px;
}

.emailselectorlist li {
    list-style-type: none !important;
    padding: 0px;
    margin: 0px;
}
/* Report Schedule Configuration End */

/* Reminder Start */
.td-removeborder td {
    border-width: 0 0 0 0px !important;
}
/* Reminder End */


/* Text Editor Start */
.TextColourChange {
    color: #000 !important;
}

    .TextColourChange h1, h2, h3, h4, h5, h6, p {
        color: #000 !important;
    }

    .TextColourChange ul li {
        list-style: disc !important;
    }
/* Text Editor End */

/* Debtor Beakdown Start - Debtor Critical List */
.ChatIconPhone {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../Images/icon_phonemsg.png');
    background-repeat: no-repeat;
}

.ChatIconTextmsg {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../Images/icon_textmsg.png');
    background-repeat: no-repeat;
}

.ChatIconemail {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../Images/icon_emailmsg.png');
    background-repeat: no-repeat;
}

.ChatIconcomment {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../Images/icon_commentmsg.png');
    background-repeat: no-repeat;
}

.DisputedBG {
    background-color: #f82626;
}

#CommentHistory ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

#CommentHistory ul {
    display: block;
    border: 1px solid #d3d3d3;
    margin-right: 10px;
    margin-left: 0px;
    border-radius: 5px;
    /* padding: 0px 10px 10px 10px; */
    margin-top: 0px;
}

#CommentHistory li {
    margin-left: -30px;
}

.DisputedBG {
    background-color: #f82626;
}

.PromisedunpaidBG {
    background-color: #fb6464;
}

.PartiallysettledBG {
    background-color: #ffb3b3;
}

.CancelBG {
    background-color: #ffc893;
}

.PendingBG {
    background-color: #cce0ff;
}

.SettledBG {
    background-color: #e8ffd7;
}

.DisputedBG li {
    color: #000 !important;
}

.PromisedunpaidBG li {
    color: #000 !important;
}

.PartiallysettledBG li {
    color: #000 !important;
}

.CancelBG li {
    color: #000 !important;
}

.PendingBG li {
    color: #000 !important;
}

.SettledBG li {
    color: #000 !important;
}
/* Debtor Beakdown End - Debtor Critical List */


/* Report Design Start */


input.checkboxHeader[type=checkbox] + label {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/HeaderInActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.checkboxHeader[type=checkbox] + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

input.checkboxHeader[type=checkbox]:checked + label {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/HeaderActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.checkboxHeader[type=checkbox]:checked + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

input.checkboxFooter[type=checkbox] + label {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/FooterInActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.checkboxFooter[type=checkbox] + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

input.checkboxFooter[type=checkbox]:checked + label {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/FooterActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.checkboxFooter[type=checkbox]:checked + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

input.radioPortrait[type=radio] + label {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/PortraitActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.radioPortrait[type=radio] + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

input.radioPortrait[type=radio]:checked + label {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/FooterActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.radioPortrait[type=radio]:checked + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

input.checkboxPageNumber[type=checkbox] + label {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/PagenumberInActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.checkboxPageNumber[type=checkbox] + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

input.checkboxPageNumber[type=checkbox]:checked + label {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/PagenumberActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.checkboxPageNumber[type=checkbox]:checked + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

input.checkboxOrientation[type=checkbox] + label {
    height: 28px;
    width: 28px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/PortraitActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.checkboxOrientation[type=checkbox] + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

input.checkboxOrientation[type=checkbox]:checked + label {
    height: 28px;
    width: 28px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/LandscapeActive.png");
    cursor: pointer;
    margin-right: 5px;
}

    input.checkboxOrientation[type=checkbox]:checked + label:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonRemovePage {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/RemovePage.png");
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonRemovePage:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonRemoveDocument {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/RemoveDocument.png");
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonRemoveDocument:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonNewPageLand {
    height: 21px;
    width: 28px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/NewLandscape.png");
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonNewPageLand:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonNewPagePort {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/NewPortrait.png");
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonNewPagePort:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonPrintPreview {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/PrintPreview.png");
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonPrintPreview:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonPrint {
    height: 28px;
    width: 24px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/Print.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonPrint:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonSaveReport {
    height: 28px;
    width: 24px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/SavePage.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonSaveReport:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonSaveAsReport {
    height: 28px;
    width: 24px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/SaveAsPage.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonSaveAsReport:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonOpenDocument {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/OpenDocument.png");
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonOpenDocument:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.buttonGlobalSettings {
    height: 28px;
    width: 21px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url("../Images/Ribbonbar/GlobalSettings.png");
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

    .buttonGlobalSettings:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

.Ribbonbar {
    height: 35px;
    display: inline-block;
    width: 100%;
    margin: 5px 5px 2px 0px;
}

    .Ribbonbar label {
        padding-top: 30px;
    }

/*.Ribbonbar button:hover {
            border: 2px solid #0099FF;
        }*/
/**/
.pager {
    float: right;
    margin-top: -10px;
}

    .pager ul li {
        list-style: none;
    }

    .pager ul {
        margin-left: -40px;
    }

    .pager li {
        margin-right: 5px;
    }

    .pager a {
        text-decoration: none;
        background-color: #fff;
        border-style: solid;
        border-width: 1px;
        border-color: #6e98d3;
        text-align: center;
        border-radius: 50%;
        color: #515151;
        width: 18px !important;
        height: 18px !important;
    }

        .pager a:hover {
            text-decoration: none;
            background-color: #6e98d3;
            border-style: solid;
            border-width: 1px;
            border-color: #6e98d3;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            width: 18px !important;
            height: 18px !important;
        }

.pagerActive {
    text-decoration: none !important;
    background-color: #6e98d3 !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #6e98d3 !important;
    text-align: center !important;
    border-radius: 50% !important;
    color: #fff !important;
    width: 18px !important;
    height: 18px !important;
}

.pagerPrev {
    background-position: center center;
    text-decoration: none;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #6e98d3;
    text-align: center;
    border-radius: 50%;
    color: #515151;
    width: 18px !important;
    height: 18px !important;
    background-image: url('../Images/PagerPrevIcon.png');
    background-repeat: no-repeat;
    text-indent: -1000000px;
}

.pagerNext {
    background-position: center center;
    text-decoration: none;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #6e98d3;
    text-align: center;
    border-radius: 50%;
    color: #515151;
    width: 18px !important;
    height: 18px !important;
    background-image: url('../Images/PagerNextIcon.png');
    background-repeat: no-repeat;
    text-indent: -1000000px;
}

.pagerFirst {
    background-position: center center;
    text-decoration: none;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #6e98d3;
    text-align: center;
    border-radius: 50%;
    color: #515151;
    width: 18px !important;
    height: 18px !important;
    background-image: url('../Images/PagerFirstIcon.png');
    background-repeat: no-repeat;
    text-indent: -1000000px;
}

.pagerLast {
    background-position: center center;
    text-decoration: none;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #6e98d3;
    text-align: center;
    border-radius: 50%;
    color: #515151;
    width: 18px !important;
    height: 18px !important;
    background-image: url('../Images/PagerLastIcon.png');
    background-repeat: no-repeat;
    text-indent: -1000000px;
}


.document-container {
    padding: 10px;
    background-color: #e2e2e2;
    height: 100%;
    padding: 0;
    margin: 0;
}

.design-container {
    padding: 10px;
    height: 100%;
}

.report-designer {
    overflow: auto;
    height: 100%;
}

.ReportingNewReport {
    height: 73px;
    width: 60px;
    /*display: inline-block;*/
    padding: 0 0 0 0px;
    /*background-image: url("../Images/Ribbonbar/NewReport.png");*/
    cursor: pointer;
    margin-right: 5px;
    border: none;
    background-color: transparent;
}

.ReportingExistingReport {
    height: 73px;
    width: 60px;
    /*display: inline-block;*/
    padding: 0 0 0 0px;
    /*background-image: url("../Images/Ribbonbar/ExistingReport.png");*/
    cursor: pointer;
    margin-right: 5px;
    border: none;
    background-color: transparent;
}

    .ReportingExistingReport:hover {
        opacity: 0.7;
        filter: alpha(opacity=70);
    }

.ReportingNewReport:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}


.pdf-page {
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
    background-color: #fff;
    color: #333;
    position: relative;
}

.pdf-header {
    position: absolute;
    top: .2in; /*5in*/
    height: .6in;
    left: .5in;
    right: .5in;
    border-bottom: 1px solid #e5e5e5;
}

.invoice-number {
    padding-top: .17in;
    float: right;
}

.pdf-footer {
    position: absolute;
    bottom: .2in; /*5in*/
    height: .3in; /*5in*/
    left: .5in;
    right: .5in;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
    text-align: left;
    color: #787878;
    font-size: 12px;
}

.pagefooterpageNumber {
    float: right;
    margin-top: 0px;
}

.pdf-body {
    position: absolute;
    /*top: 3.7in;*/
    top: 0.85in; /* 1.1 - 9*/
    bottom: 1.2in;
    left: .5in;
    right: .5in;
}

.size-a4-portrait {
    width: 8.3in;
    height: 11.7in;
}

.size-a4-landscape {
    width: 11.7in;
    height: 8.3in;
}

.size-letter {
    width: 8.5in;
    height: 11in;
}

.size-executive {
    width: 7.25in;
    height: 10.5in;
}

.company-logo {
    font-size: 30px;
    font-weight: bold;
    color: #3aabf0;
}

/**/
.report-list {
    display: block;
    width: 100%;
    clear: left;
    overflow: auto;
}

.report-list-item-block {
    margin: 5px;
    display: block;
    float: left;
    width: 80px;
    text-align: center;
}

    .report-list-item-block span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 11px;
        height: 25px;
    }

.report-list-item-block-new {
    display: block;
    float: left;
    margin: 10px;
    width: 80px;
}

    .report-list-item-block-new span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #2eb52e;
    }

/* */
.ReportPopupWindowSize {
    width: 800px;
    height: 340px;
}

.WidgetSelectionPopupWrapper {
    width: 800px;
    display: table;
    height: 410px;
    position: relative;
}

.WidgetSelectionPopupLeft {
    display: table-cell;
    height: 100%;
    width: 150px;
    border-right: 6px solid #f1f1f1;
}

.WidgetSelectionPopupCenter {
    width: 270px;
    height: 100%;
    display: table-cell;
    border-right: 6px solid #f1f1f1;
    vertical-align: top;
}

.WidgetSelectionPopupRight {
    height: 100%;
    width: auto;
    display: table-cell;
    vertical-align: top;
}

.WidgetSelectionPopupScroll {
    max-height: 410px;
    overflow: auto;
}

.WidgetSelectionPopupButtons {
    display: block;
    width: 100%;
    text-align: right;
}

#dialogWidgetsModuleList {
    margin-left: -40px;
}

    #dialogWidgetsModuleList li {
        padding: 3px 0px 3px 5px;
    }

        #dialogWidgetsModuleList li:hover {
            background-color: #f8f8f8;
            color: #4a9bda;
            cursor: pointer;
            /*font-weight: bold;*/
        }

.WidgetListActive {
    background-color: #f8f8f8;
    color: #4a9bda;
    cursor: pointer;
    font-weight: bold;
}

#dialogWidgetsModuleListIdNumbers img {
    height: 27px;
    width: 27px;
    /*margin-bottom: -8px;
    margin-right: 4px;*/
}

/*#dialogWidgetsModuleListIdNumbers span {
    display: inline-block;
    margin-top: 0px;
    height: 22px;
}*/

#dialogWidgetsWidgetList {
    margin-left: -35px;
}

    #dialogWidgetsWidgetList li:hover {
        background-color: #f8f8f8;
        color: #4a9bda;
        cursor: pointer;
        /*font-weight: bold;*/
    }


#dialogWidgetsGroupList {
    margin-left: -35px;
}

    #dialogWidgetsGroupList li:hover {
        background-color: #f8f8f8;
        color: #4a9bda;
        cursor: pointer;
        /*font-weight: bold;*/
    }
/*#dialogWidgetswidgetListNumbers span {
    display: inline-block;
    margin-top: 0px;
    height: 22px;
    width: 210px;
    margin-left: 5px;
    vertical-align: top;
}*/
/**/
.WidgetSelectionPopupListTable {
    display: table;
    /*border-collapse: separate;
    border-spacing: 0px;*/
    width: 100%;
    height: auto;
}

.WidgetSelectionPopupListRow {
    display: table-row;
}

.WidgetSelectionPopupListCell {
    display: table-cell;
    padding: 3px;
    vertical-align: middle;
}

.WidgetSelectionPopupListCellWidth {
    width: 25px;
}

/**/
.buttonAddWidget {
    border: 1px solid #dedddd;
    background-color: #e5e5e5;
    font-size: 15px; /*20*/
    color: #8e8e8e;
    padding: 6px 6px 6px 6px;
    cursor: pointer;
}

    .buttonAddWidget:hover {
        background-color: #ecebeb;
    }

.buttonChangeWidget {
    height: 14px;
    width: 14px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url('../Images/Button_ReportWidgetSettings.png');
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

.buttonEditWidget {
    height: 14px;
    width: 14px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url('../Images/Button_ReportWidgetEdit.png');
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -99999px;
}

.buttonRemoveWidget {
    height: 14px;
    width: 14px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url('../Images/Button_ReportWidgetRemove.png');
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -99999px;
    margin-right: 0px !important;
}


.buttonHelpWidget {
    height: 14px;
    width: 14px;
    display: inline-block;
    padding: 0 0 0 0px;
    background-image: url('../Images/Button_ReportWidgetHelp.png');
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -99999px;
    margin-right: 0px !important;
}
/* Layouts */
.ReportWidgetLayouttable {
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    width: 100%;
    height: 100%;
}

.ReportWidgetLayoutrow {
    display: table-row;
}

.ReportWidgetLayoutcell {
    /*display: table-cell;*/
    /*padding: 5px;*/
    vertical-align: top;
    overflow: hidden !important; /*temp */
    height: 100%; /* temp */
    width: 100%; /* temp */
    /* display:inline-block;temp */
}

.ReportWidgetLayoutheight33 {
    height: 33% !important;
}

.ReportWidgetLayoutheight50 {
    height: 50% !important;
}

.ReportWidgetLayoutBorder {
    border: 1px dotted #dedcdc; /*cdcdcd*/
}

/**/

.page_header_text_area h1 {
    color: #000 !important;
}

.page_header_text_area P {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1em;
}

.page_footer_text_area P {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1em;
}

#PageDialogWindowLayoutList {
    margin-left: -40px;
}

    #PageDialogWindowLayoutList li {
        display: inline;
        margin-right: 5px;
    }

        #PageDialogWindowLayoutList li:hover {
            cursor: pointer;
        }

    #PageDialogWindowLayoutList img {
        border: 2px solid #fff;
    }

        #PageDialogWindowLayoutList img:hover {
            border: 2px solid #0099FF;
        }

.PageDialogWindowLayoutListActive {
    border: 2px solid #0099FF !important;
}

.ReportWidgetToolBox {
    padding: 3px;
    /*float: right;*/
    z-index: 10;
    border: 1px solid #fff;
    background-color: #fff;
    /*   position:absolute;   temp 
    right:0px;*/
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 9999;
    margin-right: 0px;
    margin-left: auto;
    width: 80px; /*60px*/
    position: relative;
}

    .ReportWidgetToolBox:hover {
        border: 1px solid #EBEBEB;
        box-shadow: 2px 2px 1px #EBEBEB;
        background-color: #FFFFFF;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .ReportWidgetToolBox button {
        margin-right: 5px;
    }
/**/
.ReportWidgetAddWidgetBtnAlign {
    width: 100%;
    height: 100%;
    text-align: center;
}

    .ReportWidgetAddWidgetBtnAlign:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

.ReportWidgetAddWidgetBtnAlignInside {
    display: inline-block;
    vertical-align: middle;
}
/**/
.ReportWidgetDescription {
    margin: 5px;
    color: #787878 !important;
}

    .ReportWidgetDescription p {
        font-size: 12px;
        margin-top: 0px;
        color: #787878 !important;
    }

    .ReportWidgetDescription h1 {
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        color: #787878 !important;
    }

    .ReportWidgetDescription img {
        height: 100%;
        width: 100%;
    }
/* Loader */

.ReportWidgetLoader {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background-color: #fff; /* for demonstration */
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 9999999;
}

.ReportWidgetLoaderImage {
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url('../Images/reportloader.gif');
    background-repeat: no-repeat;
}

/*-- Widget Height --*/
/*A4 Portrait*/
.report-widget-a4-portrait-1rows-height {
    height: 970px; /*950px*/
}

.report-widget-a4-portrait-2rows-height {
    height: 481px; /* 472px */
    /*overflow:auto !important;*/
}

.report-widget-a4-portrait-3rows-height {
    height: 319px; /*312px*/
    /*overflow:auto !important;*/
}

.report-widget-a4-portrait-4rows-height {
    height: 298px; /*290px*/
    /*overflow:auto !important;*/ /* NEW */
}

.report-widget-a4-portrait-4rows-height-gt-customized {
    height: 35px !important; /*55*/
    /*overflow:auto !important;*/ /* NEW */
}

.report-widget-a4-portrait-1columns-width {
    width: 695px; /*690*/
}

.report-widget-a4-portrait-2columns-width {
    width: 344px; /*337px;*/
    /*overflow:auto !important;*/
}

.report-widget-a4-portrait-3columns-width {
    width: 229px;
}

.report-widget-a4-portrait-gt-custom4-3columns-merge-width[data-orientation="portrait"] {
    width: 523px !important; /* new*/
}

.report-widget-a4-portrait-gt-custom4-2columns-merge3columns-width[data-orientation="portrait"] {
    width: 260px !important; /* new*/
}

.report-widget-a4-portrait-gt-custom4-4columns-width[data-orientation="portrait"] {
    width: 169px !important; /* new*/
}

.report-widget-a4-portrait-gt-2rows-height[data-orientation="portrait"] {
    height: 463px; /*450px*/
}

.report-widget-a4-portrait-gt-3rows-height[data-orientation="portrait"] {
    height: 307px; /*299*/
}

.report-widget-a4-portrait-gt-1rows-height[data-orientation="portrait"] {
    height: 930px; /*909px*/
}

.report-widget-a4-portrait-gt-1in4rows-height[data-orientation="portrait"] {
    height: 235px;
}

.report-widget-a4-portrait-gt-3in4rows-height[data-orientation="portrait"] {
    height: 690px;
}

.report-widget-a4-portrait-gt-custom4-3columns-merge-width[data-orientation="landscape"] {
    width: 768px !important; /* new*/
}

.report-widget-a4-portrait-gt-custom4-2columns-merge3columns-width[data-orientation="landscape"] {
    width: 382px !important; /* new*/
}

.report-widget-a4-portrait-gt-custom4-4columns-width[data-orientation="landscape"] {
    width: 250px !important; /* new*/
}

.report-widget-a4-portrait-gt-2rows-height[data-orientation="landscape"] {
    height: 300px !important; /*286px*/
}

.report-widget-a4-portrait-gt-3rows-height[data-orientation="landscape"] {
    height: 196px !important; /*190px*/
}

.report-widget-a4-portrait-gt-1rows-height[data-orientation="landscape"] {
    height: 605px; /*582px;*/
}

.report-widget-a4-portrait-gt-1in4rows-height[data-orientation="landscape"] {
    height: 155px !important;
}

.report-widget-a4-portrait-gt-3in4rows-height[data-orientation="landscape"] {
    height: 445px !important;
}


/* ------------------------------ Temp -------------------------------------- */
.report-widget-a4-portrait-gt-2rows-height-ui-changes[data-orientation="landscape"] {
    height: 309px !important; /*560px;*/
}

.report-widget-a4-portrait-gt-2rows-height-ui-changes[data-orientation="portrait"] {
    height: 450px !important; /*560px;*/
}

.report-widget-a4-portrait-gt-1rows-height-ui-changes[data-orientation="landscape"] {
    height: 635px; /*560px;*/
}

/* ------------------------------ Temp -------------------------------------- */

.report-widget-a4-portrait-4columns-width {
    width: 169px;
}

/*A4 Landscape*/
.report-widget-a4-landscape-1rows-height {
    height: 645px; /*625px*/
}

.report-widget-a4-landscape-2rows-height {
    height: 318px !important; /*310px*/
    /*overflow:auto !important;*/
}

.report-widget-a4-landscape-3rows-height {
    height: 210px; /*204px*/
    /*overflow:auto !important;*/
}

.report-widget-a4-landscape-4rows-height {
    height: 189px; /*181px/
    /*overflow:auto !important;*/
}


.widget-a4-landscape-1columns-width {
    width: 1005px;
}

.report-widget-a4-landscape-2columns-width {
    width: 512px; /*496*/
    /*overflow:auto !important;*/
}

.report-widget-a4-landscape-3columns-width {
    width: 338px;
}


/***/

.ReportWidgetContainer {
    overflow: auto;
    z-index: 1;
    right: 0px;
}

.ReportWidgetContainerHightAdjust {
    margin-top: -25px;
}

#PageDialogWindowLayoutList {
    /*width:450px;*/
}


.report-widget-a4-portrait-4rows-height-gt-customized .ReportWidgetContainer {
    overflow: hidden;
}

/* Report Design End */

/* Debtor Days (HTML) Start */
/*#previewEmaileaditoor span {
        font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif !important;
    color: #696969 !important;
    font-size: 12px !important;
    line-height:1em !important;
}

#previewEmaileaditoor P {
        font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif !important;
    color: #696969 !important;
    font-size: 12px !important;
    line-height:1em !important;
}*/

.prom-status-Partially {
    background-color: #d7ffba !important;
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    margin: -5px;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 16px;
    border-bottom-color: #DBDBDB;
}

.prom-status-Promised {
    background-color: #ff5d61 !important; /*ffcccc*/
    color: #ffd7d8 !important;
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    margin: -5px;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 16px;
    border-bottom-color: #DBDBDB;
}

.prom-status-Settled {
    background-color: #abed7b !important;
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    margin: -5px;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 16px;
    border-bottom-color: #DBDBDB;
}

.prom-status-Cancel {
    background-color: #ffd492 !important;
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    margin: -5px;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 16px;
    border-bottom-color: #DBDBDB;
}

.prom-status-dispute {
    background-color: #FF0000 !important;
    width: 100%;
    height: auto;
    display: block;
    padding: 5px;
    margin: -5px;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    min-height: 16px;
    border-bottom-color: #DBDBDB;
}
/* Debtor Days (HTML) End */

/* email sms preview */

.k-editable-area body {
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 12px;
}

.preview-textarea {
    border: 1px solid #dbdbdb;
    font-family: 'Open Sans', sans-serif, Calibri, "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size: 11px;
    color: #787878;
    text-indent: .33em;
    min-height: 20px;
}

/* Company selection */
.company-selection-box {
    padding: 10px;
    border: 1px solid #E4E4E4;
}

    .company-selection-box:hover {
        /*background-color: #f8f8f8;*/
        color: #000;
        cursor: pointer;
        -webkit-box-shadow: 6px 8px 5px -6px rgba(181,181,181,1);
        -moz-box-shadow: 6px 8px 5px -6px rgba(181,181,181,1);
        box-shadow: 6px 8px 5px -6px rgba(181,181,181,1);
    }

/*Campaign Module*/

.campaign-nl {
    width: 100%;
    max-width: 600px;
    /*min-height: 500px;*/
}

.campaign-layout-border {
    border: 1px dotted #dedcdc;
}

.campaign-layout-minhight-1 {
    height: 30px;
    vertical-align: top;
}

.campaign-layout-minhight-2 {
    height: 30px;
    vertical-align: top;
}

.campaign-layout-minhight-3 {
    height: 30px;
    vertical-align: top;
}

.campaign-layout-column-1 {
    width: 600px;
    overflow: hidden;
}

.campaign-layout-column-2 {
    width: 300px;
    overflow: hidden;
}

.campaign-nl-area {
    /*width: 100%;*/
    max-width: 600px;
    min-height: 500px;
}

.campaign-nl-area-mobile {
    max-width: 340px;
    min-height: 616px;
    background-image: url('../Images/img-campaign-mobile-bg.png');
}

.campaign-nl-area-body {
    position: absolute;
    width: 100%;
    height: 100%;
    /*top: 0.85in;
    bottom: 1.2in;
    left: .5in;
    right: .5in;*/
}

.campaign-nl-area-body-mobile {
    position: absolute;
    width: 317px;
    height: 565px;
    margin-left: 11px;
    margin-top: 26px;
    overflow: auto;
}

.campaign-template-block {
    width: 250px;
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
}

.campaign-template-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

.campaign-thumbnail-image-area {
    border: 1px solid #E9E9E9;
    width: 250px;
    height: 150px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin-bottom: 5px;
}

.hand {
    cursor: pointer;
}

/*What IF Cash flow HTML*/

.cerebiz-whatifcash-main {
    width: 100%;
}

.cerebiz-whatifcash-main-left {
    float: left;
    min-width: 300px;
    height: 100%;
    align-items: stretch;
    width: 30%;
}

.cerebiz-whatifcash-main-right {
    float: left;
    align-items: stretch;
    height: 100%;
    width: 70%;
}

.cerebiz-whatifcash-main-row1 {
    min-height: 100px;
    display: flex;
    margin-bottom: 15px;
}

.cerebiz-whatifcash-main-row2 {
    min-height: 100px;
}

@media (max-width: 400px) {

    .campaign-nl td {
        display: block;
    }
}

/*Kendo Grid Header word warp*/

.k-grid .k-grid-header .k-header .k-link {
    height: auto;
}

.k-grid .k-grid-header .k-header {
    white-space: normal;
}

.k-header > .k-header > .k-grid-filter, .k-header > .k-header-column-menu {
}

/* Gauge Value */
.gaugeVal {
    /*font-family: Arial, Verdana, Helvetica, sans-serif;*/
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 0;
    right: 0;
    top: -100px;
    text-align: center;
    color: #636161;
}


.page-title {
    margin-top: -5px;
    color: #035b8e !important;  
}

.content-wrapper {
    background-color: #ffffff;
}

.main-footer {
    background: #f5f9ff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

.content-main {
    margin: 0px 20px 0px 20px;
}

.hr-title {
    margin-bottom: 20px;
    margin-top:5px;
    border: 0;
    border-top: 2px solid #eee;
}

.skin-blue .sidebar a {
    color: #b8c7ce;
    font-size: 1.14em;
    font-weight: 550;
}

.table{
    margin-bottom:0px !important;
}

.els-col{
    max-width:450px;
}

    .table tr th {
        border-top: 0px solid #f4f4f4 !important;
        width:100px !important;
    }
    .table tr td {
        border-top: 0px solid #f4f4f4 !important;
    }

#paperQuestionNavigation {
    display: flex;
    justify-content: center;
}

.els-col-cropped {
    max-width: 450px;
}

#imgCroppedContainer{
    overflow-y:auto;
    /*height:330px;*/
}

.k-widget.k-tooltip {
    border-color: #a1c3f2;
    background-color: #a1c3f2;
    color: #ffffff;
}

.els-added-question
{
    margin-top:5px;
}
.els-added-question span {
    float: left;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    min-width: 14px;
    margin: 0 3px 0 0;
    border-radius: 1.0833em;
    min-width: 25px;
    text-align: center;
    background: #3c8dbc;
}

 