﻿
@{
    ViewData["Title"] = "BasicStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<script src="~/js/els.common.js"></script> 
<script src="~/js/Analytics/Widgets/els.widget.basic.stat.js.js"></script>
<style>
    .analytic-dashboard-chart circle {
        display: none !important;
    }
</style>

<script>
    $(function () {
        els.widgets.basicStat.init({ layoutId: "dashMain" });
    });
</script>

<h2 class="page-title">Basic Statistics</h2>
<hr class="hr-title" />

<div id="dashMain">
    <div class="temp-content" style="height:200px;">

    </div>
</div>

<style>
    .analytic-dashboard-gauge-container {
        background: transparent url("../images/gauge-container.png") no-repeat 50% 50%;
        background-size: contain;
    }

    .analytic-dashboard-gauge {
        width: 250px;
        height: 260px;
        margin: 0 auto 0;
    }

        .analytic-dashboard-gauge svg {
            margin-top: -25px;
        }
</style>


<style>
    .container-fluid {
        padding-left:0px;
        padding-right:0px;
    }

    .content-out {
        border: 1px solid #c5d5de;
        margin-bottom: 10px;
    }

    .content-in {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

</style>


