﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <script src="~/js/els.common.js"></script>
<script src="~/js/Analytics/Widgets/els.widget.progress.stat.js"></script>
<script src="~/js/Analytics/Widgets/els.widget.basic.stat.js.js"></script>
<style>
    .analytic-dashboard-chart circle {
        display: none !important;
    }
</style>

<script>
    $(function () {
        els.widgets.basicStat.init({ layoutId: "dashMain" });
    });
</script>

<h2 class="page-title">Manage Question Paper</h2>
<hr class="hr-title" />
 
<div id="dashMain">
    <div class="temp-content" style="height:200px;">
        
    </div>  
</div>

<style>
    .analytic-dashboard-gauge-container {
        background: transparent url("../images/gauge-container.png") no-repeat 50% 50%;
        background-size: contain;
 
    }

    .analytic-dashboard-gauge {
        width: 250px;
        height: 290px;
        margin: 0 auto 0;
    }
        .analytic-dashboard-gauge svg
        {
            margin-top:-25px;
        }
</style>
 