﻿
@{
    ViewData["Title"] = "CallList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/knd/jszip.min.js"></script>

<script>
    var callSchedule = [
        {
            "id": 1,
            "agency": "",
            "clientId": 4410939330,
            "name": "L.K.D Dasanayeke",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 77966.55,
            "promisedAmount": 785.52,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 2,
            "agency": "",
            "clientId": 4121193675,
            "name": "C.D Rashmika",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 126115,
            "promisedAmount": 25000,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 3,
            "agency": "",
            "clientId": 2450962730,
            "name": "N.C.D Dissanayake",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-01T10:30:00.000Z",
            "amount": 39758.21,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 4,
            "agency": "",
            "clientId": 2253317086,
            "name": "P.W.A.V Adhikari",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 53154.5,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 5,
            "agency": "",
            "clientId": 3596403530,
            "name": "M.V.K Sanjeewa",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 38792.08,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 6,
            "agency": "",
            "clientId": 1780106952,
            "name": "M.S.N Madhubhashini Perera",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-03-13T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 56424.34,
            "promisedAmount": 3711,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 7,
            "agency": "",
            "clientId": 2822611966,
            "name": "T.V.T Dhananja Tilakaratna",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 38967.87,
            "promisedAmount": 2213,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 8,
            "agency": "",
            "clientId": 4122027773,
            "name": "L.K.V.T Udeesha Karannagoda",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-02T11:30:00.000Z",
            "amount": 64607.03,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 9,
            "agency": "",
            "clientId": 3081748505,
            "name": "L.C Sansuka Weeraratne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 50806.32,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 10,
            "agency": "",
            "clientId": 3068347821,
            "name": "G.A Asitha Wijeratne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 85692.27,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 11,
            "agency": "",
            "clientId": 2866874235,
            "name": "C.W. Imashini Wichramasinghe",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 74288.26,
            "promisedAmount": 4609.5,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 12,
            "agency": "",
            "clientId": 2919536959,
            "name": "D.S Hamkana Seneviratne",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-03-13T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 83104.17,
            "promisedAmount": 7836.35,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 13,
            "agency": "",
            "clientId": 3255741535,
            "name": "O.T.V Chamari Dodangoda",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Contacted",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-01T10:30:00.000Z",
            "amount": 123082.22,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 14,
            "agency": "",
            "clientId": 4010190646,
            "name": "R.H. Yahani Senanayake",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 67930.42,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 15,
            "agency": "",
            "clientId": 1699265083,
            "name": "E.W Wageesha Iriyagolla",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 54794.32,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 16,
            "agency": "",
            "clientId": 3672594884,
            "name": "N.C Chiranjaya Cooray",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 53254.85,
            "promisedAmount": 1825.5,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 17,
            "agency": "",
            "clientId": 1897867578,
            "name": "V.W.A Fernando Ranwala",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 60437.31,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 18,
            "agency": "",
            "clientId": 2418501614,
            "name": "A.T Amarathunge Kularatne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 123238.15,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 19,
            "agency": "",
            "clientId": 2010401549,
            "name": "S.M Nuwan Wijewardene",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 51609,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 20,
            "agency": "",
            "clientId": 3433734105,
            "name": "L.T Praneeth Dutugemunu",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 114297.52,
            "promisedAmount": 8725.00,
            "result": "Promise Made",
            "callingAttempt": 3
        },
        {
            "id": 21,
            "agency": "",
            "clientId": 3444360863,
            "name": "K.M Lokunarangoda Dharmagunawardhana",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 125472,
            "promisedAmount": 12063.75,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 22,
            "agency": "",
            "clientId": 2911949300,
            "name": "D.J Priyashantha Gajabahu",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 114829.21,
            "promisedAmount": 14164.5,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 23,
            "agency": "",
            "clientId": 2426822620,
            "name": "E.M Sanjeewa Jayakody",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 38119.57,
            "promisedAmount": 2250.99,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 24,
            "agency": "",
            "clientId": 3540542298,
            "name": "L.M Kamal Rahula",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 68067.14,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 25,
            "agency": "",
            "clientId": 3256578440,
            "name": "E.K Adeetha Vithanage",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "2020-02-05T9:00:00.000Z",
            "amount": 80538.06,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 26,
            "agency": "",
            "clientId": 4274082682,
            "name": "I.A Dilshana Nissanka",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 68173.5,
            "promisedAmount": 3714.23,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 27,
            "agency": "",
            "clientId": 3569880227,
            "name": "F.P Peshila Gunaratne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 88984.26,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 28,
            "agency": "",
            "clientId": 2396613703,
            "name": "K.M Saranga Dharmagunawardhana",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-01T10:30:00.000Z",
            "amount": 48774.99,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 29,
            "agency": "",
            "clientId": 2693334396,
            "name": "O.W Nadeeka Fonseca",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 55692.13,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 30,
            "agency": "",
            "clientId": 4496966424,
            "name": "K.V Dulani Kotelawala",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 113346.37,
            "promisedAmount": 14000,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 31,
            "agency": "",
            "clientId": 1728890808,
            "name": "T.G Yamuna Sangakkara",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 76534.17,
            "promisedAmount": 3964.72,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 32,
            "agency": "",
            "clientId": 4134337459,
            "name": "U.D Jayashani Seelalankara",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 45205.64,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 33,
            "agency": "",
            "clientId": 1881066603,
            "name": "R.A.V. Nilakshi Edirisinghe",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 62588.32,
            "promisedAmount": 2821.33,
            "result": "Promise Made",
            "callingAttempt": 3
        },
        {
            "id": 34,
            "agency": "",
            "clientId": 3009591199,
            "name": "Y.S.Y Vidusahani Jothipala",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 63919,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 35,
            "agency": "",
            "clientId": 1901263212,
            "name": "L.M.K Jayamini Kehelgamuwa",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 70922.75,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 36,
            "agency": "",
            "clientId": 3144113034,
            "name": "S.F Leelanka Kanakeratne",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-02T11:30:00.000Z",
            "amount": 59287,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 3
        },
        {
            "id": 37,
            "agency": "",
            "clientId": 2980521940,
            "name": "W.D Nihil Kularatne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 109487.55,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 38,
            "agency": "",
            "clientId": 2862778064,
            "name": "E.K Handun Kotiduwakku",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 78291.71,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 39,
            "agency": "",
            "clientId": 2518527643,
            "name": "C.M.N.B Jayamanne Niroshan",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 112921.84,
            "promisedAmount": 17500,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 40,
            "agency": "",
            "clientId": 3121745506,
            "name": "C.V Yuresh Gunawardena",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 37973.18,
            "promisedAmount": 4455.11,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 41,
            "agency": "",
            "clientId": 3702039134,
            "name": "J.A Shehan Edirisinghe",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 39281.71,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 3
        },
        {
            "id": 42,
            "agency": "",
            "clientId": 2524309777,
            "name": "D.T Tharuka Jayasinghe",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 90976.86,
            "promisedAmount": 3881.45,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 43,
            "agency": "",
            "clientId": 2764629080,
            "name": "P.S. Suchiritha Goonesekara",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "2020-02-08T18:30:00.000Z",
            "remindDate": "2020-02-07T8:30:00.000Z",
            "amount": 60375,
            "promisedAmount": 1843.23,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 44,
            "agency": "",
            "clientId": 4148926842,
            "name": "W.X.B Udaya Mahanama",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-02T09:30:00.000Z",
            "amount": 33516.58,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        },
        {
            "id": 45,
            "agency": "",
            "clientId": 1966982467,
            "name": "P.M Weerawardhana Maitreya",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "2020-02-01T11:30:00.000Z",
            "amount": 83440.11,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 3
        },
        {
            "id": 46,
            "agency": "",
            "clientId": 2143461830,
            "name": "M.V. Ruwani Gunaratne",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "",
            "amount": 30290.71,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 2
        },
        {
            "id": 47,
            "agency": "",
            "clientId": 3483595035,
            "name": "H.V Inoka Prasanna",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 44801.83,
            "promisedAmount": 1934.67,
            "result": "Promise Made",
            "callingAttempt": 1
        },
        {
            "id": 48,
            "agency": "",
            "clientId": 3814323001,
            "name": "D.D Dhanoja Goonesena",
            "status": "Pending",
            "statusId": "FALSE",
            "callStatus": "Pending",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "",
            "remindDate": "",
            "amount": 71529.14,
            "promisedAmount": "",
            "result": "RNA",
            "callingAttempt": 1
        },
        {
            "id": 49,
            "agency": "",
            "clientId": 3658051758,
            "name": "T.L Nethaka Wichramasinghe",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-15T18:30:00.000Z",
            "overdueDays": 17,
            "promisedDate": "2020-02-05T18:30:00.000Z",
            "remindDate": "2020-02-04T8:30:00.000Z",
            "amount": 33582.88,
            "promisedAmount": 2663.5,
            "result": "Promise Made",
            "callingAttempt": 2
        },
        {
            "id": 50,
            "agency": "",
            "clientId": 3445886516,
            "name": "R.V.V Dhanushka Nissanka",
            "status": "Answered",
            "statusId": "FALSE",
            "callStatus": "Answered",
            "dueDate": "2020-01-25T18:30:00.000Z",
            "overdueDays": 10,
            "promisedDate": "",
            "remindDate": "2020-02-05T9:00:00.000Z",
            "amount": 47066,
            "promisedAmount": "",
            "result": "Call Reschedule",
            "callingAttempt": 1
        }
    ];
   

    var promisedList = [
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0), 
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0), 
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0), 
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0), 
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
    ];

    var rescheduleList = [
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
    ];

    var rnaList = [
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        }, {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10248,
            promisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 785.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10249,
            promisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.35
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10250,
            promisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            amount: 3560.41,
            promisedAmount: 985.73
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10251,
            promisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
        {
            clientId: 15454584545,
            name: "L.K.D Dasanayeke",
            status: "Answered",
            statusId: 1,
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            amount: 2560.52,
            promisedAmount: 885.52
        },
    ];
 
</script>

<style>
    
    .tdrow {
        font-weight: 600;
        width: 180px;
    }

    table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 2px;
        line-height: 1.42857143;
        vertical-align: top;
    }

    .promise-success {
        background-color: #17d845;
    }

    .promise-fail {
        background-color: #e8574d;
    }

    .promise-pending {
        background-color: #03a9f4;
    }
     
</style>

<script>
 
    function createScheduleGrid() {
        $("#gridSchedule").kendoGrid({
            dataSource: {
                data: callSchedule,
                pageSize: 8,
                
            },
            pageable: true,
            toolbar: ["excel","search"],   
            
            excel: {
                fileName: "Client List.xlsx",
                proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
                filterable: true
            },
            columns: [
                {
                    field: "clientId",
                    title: "CIF",
                    width: 100,
                    type:"string"
                },

                {
                    field: "name",
                    title: "Name", 
                    type: "string"
                },
                {
                    field: "overdueDays",
                    title: "Overdue Days",
                    width: 120,
                    attributes: { style: "text-align: right; " },
                    type: "number"
                },
                {
                    field: "dueDate",
                    title: "Due Date",
                    format: "{0:MMM-dd}",
                    width: 95,
                    type: "date"
                },   
                {
                    field: "amount",
                    title: "Due Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " },
                    width: 110,
                    type: "number"
                },  
                {
                    field: "callStatus",
                    title: "Call Status",
                    width: 100,
                    type: "string"
                },
                {
                    field: "result",
                    title: "Result",
                    width: 110,
                    type: "string"
                },
                {
                    field: "remindDate",
                    title: "Reminder On",
                    format: "{0:yyyy-MM-dd hh:mm}",
                    width: 115,
                    type: "date"
                }, 
                {
                    field: "callingAttempt",
                    title: "Attempt",
                    format: "{0:N0}",
                    attributes: { style: "text-align: right; " },
                    width: 60,
                    type: "number",
                    filterable: false   
                }, 
                //{
                //    field: "statusId",
                //    title: "Active",
                //    width: 60,
                //    attributes: { style: "text-align: center; font-size: 12px" },
                //    template: "#if(statusId==true) {#<input type='checkbox' checked disabled/>#} else {# <input type='checkbox'  disabled/> #}#"
                //},
                {
                    field: "",
                    title: "",
                    width: 50,
                    filterable: false,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: " <img id='call1' src='/images/phone.png' alt='0773706455' title='0773706455' class='crop-default' data-description='' style='cursor: pointer; vertical-align: middle;height: 30px;margin-left: 5px;'>"
                }
            ],
            filterable: true,
            sortable:true
        });

        $('#gridSchedule .k-grid-search').before('<input type="search" style="width:200px;" id="searchbox" class="k-autocomplete k-input pull-right" placeholder="Search...">'); $('#gridSchedule .k-grid-search').remove();

        $("#searchbox").keyup(function () {
            var val = $('#searchbox').val();
            var grid = $("#gridSchedule").data("kendoGrid");
            if (val) {
                var filters = []
                $.each(grid.options.dataSource.fields, function (index, value) {
                    if (value.field && grid.options.dataSource.schema.model.fields[value.field].type == "string") {
                        var filter = {
                            field: value.field,
                            operator: "contains",
                            value: val
                        }
                        filters.push(filter);
                    }
                })
                $("#gridSchedule").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: filters
                });
            } else {
                $("#gridSchedule").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: []
                });
            }
        });
    }

    function createPromisedGrid() {
        $("#gridPromised").kendoGrid({
            dataSource: {
                data: callSchedule,
                pageSize: 11,
                filter: { field: 'result', operator: 'eq', value: 'Promise Made' },
            },
            pageable: true,
            columns: [
                {
                    field: "clientId",
                    title: "CIF",
                    width: 130,
                },
                {
                    field: "name",
                    title: "Name",
                },
                {
                    field: "amount",
                    title: "Due Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " },
                    width: 120,
                },
                {
                    field: "promisedAmount",
                    title: "Promised Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " },
                    width: 120,
                }, 
                {
                    field: "remindDate",
                    title: "Reminder On",
                    format: "{0:yyyy-MM-dd hh:mm}",
                    width: 130,
                    type: "date"
                }, 
                {
                    field: "",
                    title: "",
                    width: 100,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: " <button class='common-button'>View</button>"
                }
            ]
        });
    }

    function createRescheduledGrid() {
        $("#gridReschedule").kendoGrid({
            dataSource: { 
                  data: callSchedule,
                pageSize: 11,
                filter: { field: 'result', operator: 'eq', value: 'Call Reschedule' },
            },
            pageable: true,
            columns: [
                {
                    field: "clientId",
                    title: "CIF",
                    width: 130,
                },
                {
                    field: "name",
                    title: "Name",
                },
                {
                    field: "amount",
                    title: "Due Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " },
                    width: 120,
                },
                {
                field: "dueDate",
                title: "Due Date",
                format: "{0:MMM-dd}",
                width: 95,
                type: "date"
                },  
                {
                    field: "remindDate",
                    title: "Date",
                    format: "{0:yyyy-MM-dd hh:mm}",
                    width: 130,
                    type: "date"
                }, 
                
                {
                    field: "",
                    title: "",
                    width: 100,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: " <button class='common-button'>View</button>"
                }
            ]
        });
    }

    function createRNAGrid() {
        $("#gridRNA").kendoGrid({
            dataSource: {
                data: callSchedule,
                pageSize: 11,
                filter: { field: 'result', operator: 'eq', value: 'RNA' },
            },
            pageable: true,
            columns: [
                {
                    field: "clientId",
                    title: "CIF",
                    width: 130,
                },
                {
                    field: "name",
                    title: "Name",
                },
                {
                    field: "amount",
                    title: "Due Amount",
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; " },
                    width: 120,
                },
                {
                    field: "dueDate",
                    title: "Due Date",
                    format: "{0:MMM-dd}",
                    width: 95,
                    type: "date"
                },  
                {
                    field: "dueDate",
                    title: "Date",
                    format: "{0:yyyy-MM-dd hh:mm}",
                    width: 130,
                    type: "date"
                },  
                {
                    field: "",
                    title: "",
                    width: 100,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: " <button class='common-button'>View</button>"
                }
            ]
        });
    }

    $(function () {
        createScheduleGrid();
        createPromisedGrid();
        createRescheduledGrid();
        createRNAGrid();
    });    
    
</script>


<div>
    <div>
        <div id="tabstrip" style="border-color:white">
            <ul>
                <li class="k-state-active">
                    Schedule
                </li>
                <li>
                    Promise Made
                </li>
                <li>
                    Rescheduled
                </li>
                <li>
                    RNA
                </li>

            </ul>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12 els-col">
                                <br />
                                <div id="gridSchedule"  style="width:1026px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 els-col">
                                <br />
                                <div id="gridPromised" style="width:1016px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">
                        <div class="row">
                            <br />
                            <div class="col-md-12 els-col">
                                <div id="gridReschedule" style="width:1016px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">
                        <div class="row">                           
                            <div class="col-md-12 els-col">
                                <br />
                                <div id="gridRNA" style="width:1016px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> 
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#tabstrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });
        });
    </script>
     
</div>


