﻿
@{
    ViewData["Title"] = "UploadFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {
        $("#files-jpg").kendoUpload({
            async: {
                saveUrl: "save",
                removeUrl: "remove",
                batch: true
            },
            validation: {
                allowedExtensions: [".csv", ".xls", ".xlsx"]
            },
            multiple: false
        });
    });
</script>

<style>
    .k-button.k-state-focused {
        color: #000 !important;
        border-color: #dbdbdb !important;
        background-color: #ffffff !important;
    }


    .k-file-success .k-file-name, .k-file-success .k-upload-pct {
        color: #9dc0f1 !important;
    }

   

</style>

<div style="height:440px; overflow-y:hidden;">
    <div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6 els-col">
                    <h4 style="margin-top: 2em;">Upload Image</h4>
                    <input name="files" id="files-jpg" type="file" />
                    <div class="demo-hint">You can only upload <strong>GIF</strong>, <strong>JPG</strong>, <strong>PNG</strong> files.</div>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td class="tdrow">No of Overdue times:</td>
                                <td>
                                    5
                                </td>
                            </tr>
                            <tr>
                                <td class="tdrow">Due Date:</td>
                                <td>
                                    26th of Month
                                </td>
                            </tr>
                            <tr>
                                <td class="tdrow">Overdue Amount(Rs:):</td>
                                <td>
                                    3216.45
                                </td>
                            </tr>
                            <tr>
                                <td class="tdrow">Aging Bucket:</td>
                                <td>
                                    10-40
                                </td>
                            </tr>
                            <tr>
                                <td class="tdrow" colspan="2">Last 6 Months Payment History:</td>

                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div style="height:180px;" id="chartLastPymt"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="tdrow">Promise success rate:</td>
                                <td>
                                    <div id="pgsPrmsScs"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="tdrow"> Last Promise:</td>
                                <td>
                                    <div style="display:flex">
                                        Amount : <div style="font-style: italic;padding-right: 15px;"> 1452.00</div>
                                        date :<div style="font-style: italic;padding-right: 25px;">  25 jun 2019 </div>
                                        <div class="tdrow" style="background-color:chartreuse;width: 75px;text-align: center;border: 1px solid;"> paid </div>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

