﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/UseFeedback/operator.feedback.js"></script>

<script>

    var callHistory = [
        {
            ID: 12,
            Type: 1,
            Reschedule: null,
            Status: 1,
            time: "4 Minutes",
            PhoneNumber: "077253695",
            CallDate: new Date(2020, 1, 24, 10, 15, 33, 0),
        },
        {
            ID: 12,
            Type: 1,
            Reschedule: null,
            Status: 1,
            time: "8 Minutes",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 12, 15, 14, 22, 55, 0),
        },
        {
            ID: 12,
            Type: 1,
            Reschedule: new Date(2019, 12, 14, 14, 20, 15, 0),
            Status: 2,
            time: "13 Seconds",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 12, 14, 11, 17, 0, 0),
        },
        {
            ID: 12,
            Type: 1,
            Reschedule: null,
            Status: 1,
            time: "8 Minutes",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 10, 23, 11, 25, 22, 0),
        },
        {
            ID: 12,
            Type: 2,
            Reschedule: null,
            Status: 3,
            time: "Missed Call",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 10, 22, 10, 54, 9, 0),
        },
        {
            ID: 12,
            Type: 1,
            Reschedule: null,
            Status: 1,
            time: "4 Minutes",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 09, 10, 10, 15, 3, 0),
        },
        {
            ID: 12,
            Type: 1,
            Reschedule: null,
            Status: 1,
            time: "8 Minutes",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 08, 15, 14, 22, 2, 0),
        },
        {
            ID: 12,
            Type: 1,
            Reschedule: new Date(2019, 07, 14, 14, 20, 0, 0),
            Status: 2,
            time: "13 Seconds",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 07, 14, 11, 17, 14, 0),
        },
        {
            ID: 12,
            Type: 1,
            Reschedule: null,
            Status: 1,
            time: "8 Minutes",
            PhoneNumber: "0112584258",
            CallDate: new Date(2019, 06, 23, 11, 25, 1, 0),
        },
        {
            ID: 12,
            Type: 2,
            Reschedule: null,
            Status: 3,
            time: "Missed Call",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 06, 22, 10, 54, 0, 0),
        },
        {
            ID: 12,
            Type: 2,
            Reschedule: null,
            Status: 3,
            time: "Missed Call",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 06, 21, 10, 54, 42, 0),
        },
        {
            ID: 12,
            Type: 2,
            Reschedule: null,
            Status: 3,
            time: "Missed Call",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 06, 22, 10, 54, 0, 0),
        },
        {
            ID: 12,
            Type: 2,
            Reschedule: null,
            Status: 3,
            time: "Missed Call",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 06, 21, 10, 54, 42, 0),
        }, {
            ID: 12,
            Type: 2,
            Reschedule: null,
            Status: 3,
            time: "Missed Call",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 06, 22, 10, 54, 0, 0),
        },
        {
            ID: 12,
            Type: 2,
            Reschedule: null,
            Status: 3,
            time: "Missed Call",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 06, 21, 10, 54, 42, 0),
        }, {
            ID: 12,
            Type: 2,
            Reschedule: null,
            Status: 3,
            time: "Missed Call",
            time: "Missed Call",
            time: "Missed Call",
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 06, 22, 10, 54, 0, 0),
        },
        {
            ID: 12,
            Type: 2,
            Reschedule: null,
            Status: 3,
            time: null,
            PhoneNumber: "077253695",
            CallDate: new Date(2019, 06, 21, 10, 54, 42, 0),
        }];


    var latePayments = [
        {
            promotionId: 10248,
            PromisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            promotion: "25% promotion ",
            amount: 2560.52,
            latePayement: 785.52
        },
        {
            promotionId: 10249,
            PromisedDate: new Date(2019, 11, 20, 0, 0, 0, 0),
            promotion: "Promotion 114",
            amount: 2560.52,
            latePayement: 885.35
        },
        {
            promotionId: 10250,
            PromisedDate: new Date(2019, 8, 20, 0, 0, 0, 0),
            promotion: "promotion",
            amount: 3560.41,
            latePayement: 985.73
        },
        {
            promotionId: 10251,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            promotion: "",
            amount: 2560.52,
            latePayement: 885.52
        },
        {
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            promotion: "",
            amount: 2560.52,
            latePayement: 885.52
        },
        {
            promotionId: 10253,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            promotion: "",
            amount: 2560.52,
            latePayement: 885.52
        }
    ];

    var promotions = [
        {
            promotionId: 10248,
            PromisedDate: new Date(2020, 3, 24, 0, 0, 0, 0),
            promotion: "25% promotion "
        },
        {
            promotionId: 10249,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            promotion: "Promotion 114"
        },
        {
            promotionId: 10250,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            promotion: "promotion"
        },
        {
            promotionId: 10251,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            promotion: ""
        },
        {
            promotionId: 10252,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            promotion: ""
        },
        {
            promotionId: 10253,
            PromisedDate: new Date(2020, 3, 20, 0, 0, 0, 0),
            promotion: ""
        }
    ];

    var contactType = [
        { id: 1, name: "Mobile" },
        { id: 2, name: "Land Phone" },
        { id: 3, name: "Email" }
    ];

    var contacts = [
        {
            name: "Mr. Saman Karunarthna",
            contact: "071255420",
            contactType: "Spouse",
            isActive: true
        },
        {
            name: "Mr. Janak karunarathna",
            contact: "011254485",
            contactType: "Home",
            isActive: false
        },
        {
            name: "Mr. Saman Karunarthna",
            contact: "071255420",
            contactType: "Mobile",
            isActive: true
        },
        {
            name: "Mr. Saman Karunarthna",
            contact: "071255420",
            contactType: "Mobile",
            isActive: true
        },
        {
            name: "Mr. Saman Karunarthna",
            contact: "071255420",
            contactType: "Mobile",
            isActive: true
        },
        {
            name: "Mr. Saman Karunarthna",
            contact: "071255420",
            contactType: "Mobile",
            isActive: true
        }
    ];

    var analytic1 = [
        {
            name: "Forgot",
            value: 32,
            percentage: "100%"
        },
        {
            name: "Ignore",
            value: 13,
            percentage: "40%"
        },
        {
            name: "Unable to Pay",
            value: 19,
            percentage: "59%"
        },
        {
            name: "Having hard time",
            value: 11,
            percentage: "34%"
        },
        {
            name: "Other",
            value: 21,
            percentage: "67%"
        }
    ];

    var promises =
        [{
            PromisedID: 10248,
            CustomerID: "VINET",
            EmployeeID: 5,
            PromisedDate: new Date(2020, 1, 24, 0, 0, 0, 0),
            OvardueDate: new Date(2020, 1, 26, 0, 0, 0, 0),
            PaidDate: null,
            MinPayment: 32.3800,
            OverDueAmount: 15145,
            Status: 0
        }, {
            PromisedID: 10249,
            CustomerID: "TOMSP",
            EmployeeID: 6,
            PromisedDate: new Date(2019, 12, 24, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 12, 26, 0, 0, 0, 0),
            PaidDate: new Date(2020, 1, 10, 0, 0, 0, 0),
            MinPayment: 11.6100,
            OverDueAmount: 7145,
            Status: 3
        }, {
            PromisedID: 10250,
            CustomerID: "HANAR",
            EmployeeID: 4,
            PromisedDate: new Date(2019, 11, 24, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 11, 26, 0, 0, 0, 0),
            PaidDate: new Date(2020, 11, 12, 0, 0, 0, 0),
            MinPayment: 65.8300,
            OverDueAmount: 32121,
            Status: 2
        }, {
            PromisedID: 10251,
            CustomerID: "VICTE",
            EmployeeID: 3,
            PromisedDate: new Date(2019, 10, 24, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 10, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 6, 12, 0, 0, 0, 0),
            MinPayment: 41.3400,
            OverDueAmount: 21105,
            Status: 2
        }, {
            PromisedID: 10252,
            CustomerID: "SUPRD",
            EmployeeID: 4,
            PromisedDate: new Date(2019, 9, 27, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 9, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 9, 27, 0, 0, 0, 0),
            MinPayment: 51.3000,
            OverDueAmount: 25150,
            Status: 2
        }, {
            PromisedID: 10253,
            CustomerID: "HANAR",
            EmployeeID: 3,
            PromisedDate: new Date(2019, 8, 10, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 8, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 8, 16, 0, 0, 0, 0),
            MinPayment: 58.1700,
            OverDueAmount: 29456,
            Status: 2
        }, {
            PromisedID: 10254,
            CustomerID: "CHOPS",
            EmployeeID: 5,
            PromisedDate: new Date(2019, 7, 19, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 7, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 7, 23, 0, 0, 0, 0),
            MinPayment: 22.9800,
            OverDueAmount: 12630,
            Status: 3
        }, {
            PromisedID: 10255,
            CustomerID: "RICSU",
            EmployeeID: 9,
            PromisedDate: new Date(2019, 6, 22, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 6, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 6, 29, 0, 0, 0, 0),
            MinPayment: 148.3300,
            OverDueAmount: 15145,
            Status: 3
        }, {
            PromisedID: 10256,
            CustomerID: "WELLI",
            EmployeeID: 3,
            PromisedDate: new Date(2019, 6, 25, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 6, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 6, 17, 0, 0, 0, 0),
            MinPayment: 13.9700,
            OverDueAmount: 76351.30,
            Status: 2
        }, {
            PromisedID: 10257,
            CustomerID: "HILAA",
            EmployeeID: 4,
            PromisedDate: new Date(2019, 5, 26, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 5, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 6, 22, 0, 0, 0, 0),
            MinPayment: 81.9100,
            OverDueAmount: 41142.37,
            Status: 2
        }, {
            PromisedID: 10258,
            CustomerID: "ERNSH",
            EmployeeID: 1,
            PromisedDate: new Date(2019, 4, 17, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 4, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 4, 23, 0, 0, 0, 0),
            MinPayment: 140.5100,
            OverDueAmount: 86140.57,
            Status: 2
        }, {
            PromisedID: 10259,
            CustomerID: "CENTC",
            EmployeeID: 4,
            PromisedDate: new Date(2019, 3, 24, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 3, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 6, 25, 0, 0, 0, 0),
            MinPayment: 3.2500,
            OverDueAmount: 956.62,
            Status: 3
        }, {
            PromisedID: 10260,
            CustomerID: "OTTIK",
            EmployeeID: 4,
            PromisedDate: new Date(2019, 2, 19, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 2, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 2, 29, 0, 0, 0, 0),
            MinPayment: 55.0900,
            OverDueAmount: 27564.15,
            Status: 2
        }, {
            PromisedID: 10261,
            CustomerID: "QUEDE",
            EmployeeID: 4,
            PromisedDate: new Date(2019, 1, 25, 0, 0, 0, 0),
            OvardueDate: new Date(2019, 1, 26, 0, 0, 0, 0),
            PaidDate: new Date(2019, 1, 20, 0, 0, 0, 0),
            MinPayment: 3.0500,
            OverDueAmount: 2456.25,
            Status: 2
        }, {
            PromisedID: 10262,
            CustomerID: "RATTC",
            EmployeeID: 8,
            PromisedDate: new Date(2018, 12, 22, 0, 0, 0, 0),
            OvardueDate: new Date(2018, 12, 26, 0, 0, 0, 0),
            PaidDate: new Date(2018, 12, 25, 0, 0, 0, 0),
            MinPayment: 48.2900,
            OverDueAmount: 24563.35,
            Status: 3
        }, {
            PromisedID: 10263,
            CustomerID: "ERNSH",
            EmployeeID: 9,
            PromisedDate: new Date(2018, 11, 23, 0, 0, 0, 0),
            OvardueDate: new Date(2018, 11, 26, 0, 0, 0, 0),
            PaidDate: new Date(2018, 11, 30, 0, 0, 0, 0),
            MinPayment: 146.0600,
            OverDueAmount: 92514.75,
            Status: 3
        }, {
            PromisedID: 10264,
            CustomerID: "FOLKO",
            EmployeeID: 6,
            PromisedDate: new Date(2018, 10, 24, 0, 0, 0, 0),
            OvardueDate: new Date(2018, 10, 26, 0, 0, 0, 0),
            PaidDate: new Date(2018, 10, 23, 0, 0, 0, 0),
            MinPayment: 3.6700,
            OverDueAmount: 3281.45,
            Status: 2
        }, {
            PromisedID: 10265,
            CustomerID: "BLONP",
            EmployeeID: 2,
            PromisedDate: new Date(2018, 9, 25, 0, 0, 0, 0),
            OvardueDate: new Date(2018, 9, 26, 0, 0, 0, 0),
            PaidDate: new Date(2018, 9, 12, 0, 0, 0, 0),
            MinPayment: 55.2800,
            OverDueAmount: 28326.36,
            Status: 2
        }];

</script>

<style>
    .tab-strip-title-circle {
        margin-right: 5px;
        float: right;
        border: 1px solid #089a3a;
        padding-bottom: 10px;
        background: #3df17b;
        padding-right: 20px;
        border-style: solid;
        border-width: 1px;
        text-align: center;
        border-radius: 1.1em;
        height: 14px;
        width: 4px;
    }

    .tab-strip-title-circle1 {
        border: 1px solid #089a3a;
        background: #3df17b;
        padding-right: 20px;
        text-align: center;
        border-radius: 1.6em;
        width: 12px;
        margin-top: -11px;
        margin-bottom: -6px;
        margin-left: 8px;
    }

    .tdrow {
        font-weight: 600;
        width: 180px;
    }

    table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 2px;
        line-height: 1.42857143;
        vertical-align: top;
    }

    .promise-success {
        background-color: #17d845;
    }

    .promise-fail {
        background-color: #e8574d;
    }

    .promise-pending {
        background-color: #03a9f4;
    }

    .fill-span-blue {
        position: absolute !important;
        top: 2px !important;
        left: 2px !important;
        height: 100% !important;
        background: linear-gradient(to right,#098eef,#cee8fb) !important;
        z-index: -1 !important;
    }

    .fill-span-green {
        position: absolute !important;
        top: 2px !important;
        left: 2px !important;
        height: 100% !important;
        background: linear-gradient(to right,#46ff86,#1bbd54) !important;
        z-index: -1 !important;
    }

    .fill-span-red {
        position: absolute !important;
        top: 2px !important;
        left: 2px !important;
        height: 100% !important;
        background: linear-gradient(to right,#ff000.0,#ffcdcd) !important;
        z-index: -1 !important;
    }

    .fill-span-orange {
        position: absolute !important;
        top: 2px !important;
        left: 2px !important;
        height: 100% !important;
        background: linear-gradient(to right,#efa609,#f1f2d7) !important;
        z-index: -1 !important;
    }

    .fill-span-purple {
        position: absolute !important;
        top: 2px !important;
        left: 2px !important;
        height: 100% !important;
        background: linear-gradient(to right,rgba(21.0, 45, 125,0.9),rgba(251, 234, 242,0.9)) !important;
        z-index: -1 !important;
    }
</style>

<script>

    var timer = null, timer1 = null, isfirstMove = true;
    function SetTimer() {
        var countDownDate = new Date();
        var countDownTime = parseInt(countDownDate.getTime());
        var i = 0;
        if (timer != null)
            clearInterval(timer);
        if (timer1 != null)
            clearInterval(timer1);
        // Update the count down every 1 second
        timer = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = now - countDownTime;

            // Time calculations for days, hours, minutes and seconds
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            if (i < 10) {
                $("#spantimer").text(String(hours).padStart(2, '0') + ":" + String(minutes).padStart(2, '0') + ":" + String(seconds).padStart(2, '0'))
            }
            if (distance < 0) {
                clearInterval(x);
            }
            i++;

            if (i == 10) {
                OperatorFeedback();
            }
        }, 1000);
    }

    function createChart() {
        $("#chartLastPymt").kendoChart({
            title: {
                text: "Last 10 month payments agains due date",
                visible: false
            },
            legend: {
                position: "bottom"
            },
            theme: "metro",
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                type: "line",
                style: "smooth"
            },
            series: [
                //{
                //name: "due date",
                //data: [26, 26, 26, 26, 26, 26, 26, 26, 26, 26],
                //type: "area",
                //color: "#ffc399",visible:false
                //},
                {
                name: "Credit Card",
                data: [38, 26, 45, 26, 0, 30, 20, 45, 48, 32],
                    color: "#01ab01"
                }, {
                    name: "Housing Loan",
                    data: [25, 22, 25, 24, 23, 20, 25, 19, 26, 24],
                    color: "red"
                },
                {
                    name: "Personal Loan",
                    data: [15, 19, 25, 26, 15, 36, 20, 25, 45, 26],
                    color: "#7907bf"
                }],
            valueAxis: {
                labels: {
                    format: "N0"
                },
                majorUnit: 10,
                plotBands: [{
                    from: 1,
                    to: 26,
                    color: "#7fff00",
                    opacity: 0.2
                }, {
                    from: 26,
                    to: 27,
                    color: "#c00",
                    opacity: 0.8
                    },
                    {
                        from: 27,
                        to: 55,
                        color: "pink",
                        opacity: 0.2
                    }
                ],
               // max: 60,
                line: {
                    visible: false
                }
            },
            categoryAxis: {
                categories: ['Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                majorGridLines: {
                    visible: false
                },
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: false,
                format: "{0}%",
                template: "#= series.name #: #= value #"
            }
        });
    }

    function createAnalyticsChart() {
        $("#chartAnalytic1").kendoChart({
            title: {
                text: "Last 10 month payments agains due date",
                visible: false
            },
            theme: "metro",
            legend: {
                position: "bottom"
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                type: "line",
                style: "smooth"
            },
            series: [{
                name: "days from agreed",
                data: [26, 5, 26, 20, 10, 26, 6, 26, 26, 9, 26],
                type: "area",
                color: "#dc58c6cc"
            }, {
                name: "paid from agreed",
                data: [27, 26, 45, 26, 0, 30, 20, 45, 25, 26, 20],
                color: "#ffa500"
            }],
            valueAxis: {
                labels: {
                    format: "N0"
                },
                line: {
                    visible: false
                },
                axisCrossingValue: -10
            },
            categoryAxis: {
                categories: ['Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                majorGridLines: {
                    visible: false
                },
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: false,
                format: "{0}%",
                template: "#= series.name #: #= value #"
            }
        });
    }

    function createAnalyticsChart4() {
        $("#chartAnalytic4").kendoChart({
            title: {
                text: "Last 10 month payments agains due date",
                visible: false
            },
            theme: "metro",
            legend: {
                position: "bottom"
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                type: "column",
                style: "smooth"
            },
            series: [{
                name: "Promised Amount",
                data: [3254.20, 5735.00, 3725.50, 277.25, 1375.55, 6373.20, 11235.22, 3210.25, 2153.00, 1725.00],
                color: "#ffb1c1e0", spacing: 0.1
            }, {
                name: "Paid Amount",
                data: [3255, 4500, 1753.25, 1735.20, 250,3425 ,12000 , 1500, 2200, 0],
                    color: "#92ccf3c9"
            }],
            valueAxis: {
                labels: {
                    format: "N0"
                },
                line: {
                    visible: false
                },
                axisCrossingValue: -10
            },
            categoryAxis: {
                categories: ['Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul'],
                majorGridLines: {
                    visible: false
                },
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: false,
                format: "{0}%",
                template: "#= series.name #: #= value #"
            }
        });
    }

    function createAnalyticsChart5() {
        $("#chart5").kendoChart({
            title: {
                text: "Last 10 month payments agains due date",
                visible: false
            },
            theme: "metro",
            legend: {
                position: "bottom"
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                // type: "line",
                // style: "smooth"
            },
            series: [{
                name: "T2",
                data: [26, 5, 26, 20, 10, 26, 6, 26, 26, 9, 26],
                type: "column",
                color: "#dc58c6cc"
            }, {
                name: "T1",
                data: [22, 20, 15, 2, 10, 50, 25, 4, 15, 60, 29],
                color: "#ff5722",
                type: "column",
            },
            {
                name: "T3",
                data: [27, 26, 45, 26, 0, 30, 20, 45, 25, 26, 20],
                color: "#48d64e",
                type: "line",
            }],
            valueAxis: {
                labels: {
                    format: "N0"
                },
                line: {
                    visible: false
                },
                axisCrossingValue: -10
            },
            categoryAxis: {
                categories: ['Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                majorGridLines: {
                    visible: false
                },
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: false,
                format: "{0}%",
                template: "#= series.name #: #= value #"
            }
        });
    }

    function onChange(e) {
        if (e.value < 25) {
            this.progressWrapper.css({
                "background-color": "#f44336",
                "border-color": "#f44336"
            });
        } else if (e.value <= 50) {
            this.progressWrapper.css({
                "background-color": "#EE9F05",
                "border-color": "#EE9F05"
            });
        } else if (e.value <= 75) {
            this.progressWrapper.css({
                "background-color": "#428bca",
                "border-color": "#428bca"
            });
        } else {
            this.progressWrapper.css({
                "background-color": "#8EBC00",
                "border-color": "#8EBC00"
            });
        }
    }

    function CreatePromiseGrid() {
        $("#gridPromise").kendoGrid({
            dataSource: {
                data: promises,
                pageSize: 9
            },
            sortable: {
                mode: "single",
                allowUnsort: false
            },
            pageable: true,
            navigatable: true,
            columns: [
                {
                    field: "OverDueAmount",
                    title: "Outstanding",
                    width: 150,
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; font-size: 12px" }
                },
                {
                    field: "MinPayment",
                    title: "Min Payment",
                    width: 150,
                    format: "{0:N2}",
                    attributes: { style: "text-align: right; font-size: 12px" }
                },
                {
                    field: "OvardueDate",
                    title: "Overdue Date",
                    format: "{0:dd/MM/yyyy}"
                },
                {
                    field: "PromisedDate",
                    title: "Promised Date",
                    format: "{0:dd/MM/yyyy}"
                },
                {
                    field: "PaidDate",
                    title: "Paid Date",
                    format: "{0:dd/MM/yyyy}"
                },
                {
                    field: "Status",
                    title: "Status",
                    width: 110,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: "#if(Status==2) {#<div class='promise-success'>Paid</div>#} else if(Status==3) {#<div class='promise-fail'>Not Paid</div>#} else {#<button class='common-button'>Edit Promise</button> #}#"
                }
            ]
        });
    }

    function CreateCallHistoryGrid() {
        $("#gridCallHistory").kendoGrid({
            dataSource: {
                data: callHistory,
                pageSize: 12
            },
            sortable: {
                mode: "single",
                allowUnsort: false
            },
            pageable: true,
            navigatable: true,
            columns: [
                {
                    field: "CallDate",
                    title: "Date",
                    format: "{0:dd-MM-yyyy hh:mm:ss}"
                },
                {
                    field: "PhoneNumber",
                    title: "Phone Number",
                    width: 150,
                    format: "{0:N2}",
                    // attributes: { style: "text-align: right; font-size: 12px" }
                },
                {
                    field: "time",
                    title: "Duration",
                    width: 150,
                    format: "{0:N2}",
                    // attributes: { style: "text-align: right; font-size: 12px" }
                },


                {
                    field: "Reschedule",
                    title: "Reschedule",
                    format: "{0:dd/MM/yyyy hh/mm}"
                },
                {
                    field: "Type",
                    title: "Type",
                    width: 110,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: "#if(Status==1) {#  <div style='display:flex;'> <img src='/ibee/images/contacted.png' style='height: 20px;padding-right: 8px;'/><div class='promise-success1'>Contacted</div></div>#} else if(Status==2) {# <div style='display:flex;'> <img src='/ibee/images/reschedule.png' style='height: 20px;padding-right: 8px;'/><div class='promise-pending1'>Reschedule</div> </div>#} else {# <div style='display:flex;'> <img src='/ibee/images/missedcall.png' style='height: 20px; transform: rotate(50deg);padding-right: 8px;'/><div class='promise-fail1'>Missed Call</div></div>#}#"
                },

                {

                    width: 70,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: "<button class='common-button'>View</button>"
                }
            ]
        });
    }

    function CreateContactGrid() {
        $("#gridcontat").kendoGrid({
            dataSource: {
                data: contacts,
                pageSize: 3
            },
            pageable: true,
            columns: [
                {
                    field: "name",
                    title: "Contact Name",
                    width: 110,
                },

                {
                    field: "contactType",
                    title: "Contact Type",
                    width: 110,
                },
                {
                    field: "contact",
                    title: "Contact",
                    width: 110,
                },
                {
                    field: "isActive",
                    title: "Active",
                    width: 40,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: "#if(isActive==true) {#<input type='checkbox' checked disabled/>#} else {# <input type='checkbox'  disabled/> #}#"
                },
                {
                    field: "",
                    title: "",
                    width: 90,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: "#if(isActive==undefined) {#<div class='promise-success'>Paid</div>#} else {#<button class='common-button'>Edit</button> &nbsp; <button class='common-button'>Delete</button>  #}#"
                }
            ]
        });
    }

    function CreatePromotionGrid() {
        $("#gridAnalytic5").kendoGrid({
            dataSource: {
                data: promotions,
                pageSize: 3
            },
            pageable: true,
            columns: [
                {
                    field: "promotion",
                    title: "Promotion",
                    width: 110,
                },

                {
                    field: "PromisedDate",
                    title: " Date",
                    format: "{0:dd/MM/yyyy}",
                    width: 60,
                },
                {

                    title: "",
                    width: 40,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: '<input type="button" class="common-button" value="View" />'
                }
            ]
        });
    }

    function CreateLatePaymentGrid() {
        $("#gridAnalytic6").kendoGrid({
            dataSource: {
                data: latePayments,
                pageSize: 3
            },
            pageable: true,
            columns: [
                {
                    field: "amount",
                    title: "Due Amount",
                    width: 110,
                },
                {
                    field: "latePayement",
                    title: "Late Payment",
                    width: 110,
                },

                {
                    field: "PromisedDate",
                    title: " Date",
                    format: "{0:MMM-yyyy}",
                    width: 60,
                },
                {

                    title: "",
                    width: 40,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: '<input type="button" class="common-button" value="View" />'
                }
            ]
        });
    }

    function CreateLatePaymentGrid2() {
        $("#gridAnalytic4").kendoGrid({
            dataSource: {
                data: latePayments,
                pageSize: 3
            },
            pageable: true,
            columns: [
                {
                    field: "amount",
                    title: "Due Amount",
                    width: 110,
                },
                {
                    field: "latePayement",
                    title: "Late Payment",
                    width: 110,
                },

                {
                    field: "PromisedDate",
                    title: " Date",
                    format: "{0:MMM-yyyy}",
                    width: 60,
                },
                {

                    title: "",
                    width: 40,
                    attributes: { style: "text-align: center; font-size: 12px" },
                    template: '<input type="button" class="common-button" value="View" />'
                }
            ]
        });
    }

    function CreateAnalyticGrid() {
        $("#gridAnalytic1").kendoGrid({
            dataSource: {
                data: analytic1
            },
            columns: [
                {
                    field: "name",
                    title: "Reason",
                    width: 50,
                },
                {
                    title: "Count",
                    template: '#: value# % <span class="spn-fill fill-span-green" style="width:#: percentage#;"></span>',
                    width: 120,
                }
            ],
            scroll: false
        });
        $('#gridAnalytic1 td .spn-fill').parent().css('z-index', 1);
        $('#gridAnalytic1 td .spn-fill').parent().css('position', 'relative');
    }

    function CreateAnalyticGrid() {
        $("#gridAnalytic1").kendoGrid({
            dataSource: {
                data: analytic1
            },
            columns: [
                {
                    field: "name",
                    title: "Reason",
                    width: 50,
                },
                {
                    title: "",
                    template: '#: value# % <span class="spn-fill fill-span-green" style="width:#: percentage#;"></span>',
                    width: 120,
                }
            ],
            scroll: false
        });
        $('#gridAnalytic1 td .spn-fill').parent().css('z-index', 1);
        $('#gridAnalytic1 td .spn-fill').parent().css('position', 'relative');
    }

    $(function () {
        $(".bttnNextCall").unbind('click').bind('click', function () {
            window.location.href = "/ibee/Calls";
        });

        createChart();
        $("#pgsPrmsScs").kendoProgressBar({
            type: "percent", value: 0, change: onChange
        })
        var pb = $("#pgsPrmsScs").data("kendoProgressBar");
        pb.value(0);

        var interval = setInterval(function () {
            if (pb.value() < 82) {
                if (pb.value() == 80)
                    pb.value(pb.value() + 2);
                else
                    pb.value(pb.value() + 10);

            } else {
                clearInterval(interval);
            }
        }, 5);

        CreatePromiseGrid();
        CreateContactGrid();
        $("#dtPromiseDate").kendoDatePicker({
            start: new Date(), value: new Date(), format: "dd/MM/yyyy",
        }).data("kendoDatePicker");

        $("#dtDOB").kendoDatePicker({
            start: new Date(), format: "dd/MM/yyyy",
        }).data("kendoDatePicker");
        $("#dtSD").kendoDatePicker({
            start: new Date(), format: "dd",
        }).data("kendoDatePicker");

        var promisedamount = $("#numPromisedAmnt").kendoNumericTextBox({ format: "{0:N2}", attributes: { style: "text-align:left" } });

        createAnalyticsChart();

        CreateAnalyticGrid();

        CreatePromotionGrid();

        $("#ddlcontactType").kendoDropDownList({
            dataTextField: "name",
            dataValueField: "id",
            dataSource: contactType,
            index: 0,
        }).data("kendoDropDownList");

        $("#call1").unbind('click').bind('click', function () {
            $("#callDial1, #callDial3").css("display", "none");
            $("#callDial2").css("display", "block");

            if (timer1 != null)
                clearInterval(timer1);
            timer1 = setInterval(function () {
                $("#callDial1, #callDial2").css("display", "none");
                $("#callDial3").css("display", "block");
                SetTimer();
            }, 500);
        });
        $("#call2").unbind('click').bind('click', function () {
            $("#callDial2, #callDial3").css("display", "none");
            $("#callDial1").css("display", "block");
            if (timer != null)
                clearInterval(timer);
            if (timer1 != null)
                clearInterval(timer1);
        });
        $("#call3").unbind('click').bind('click', function () {
            $("#callDial2, #callDial3").css("display", "none");
            $("#callDial1").css("display", "block");
            if (timer != null)
                clearInterval(timer);
            if (timer1 != null)
                clearInterval(timer1);
        });

        CreateLatePaymentGrid();
        CreateLatePaymentGrid2();
        CreateCallHistoryGrid();
        createAnalyticsChart5();
        createAnalyticsChart4();
    });
</script>


<div id="main1" class="temp-content" style="height:585px"> </div>
<div id="main2" style="display:none;">    
    <div >
        <div id="tabstrip" style="border-color:white">
            <ul>
                <li class="k-state-active">
                    Summary
                </li>
                <li>
                    Personal Info
                </li>
                <li>
                    Propmises
                </li>
                <li>
                    Analytics
                </li>
                <li>
                    Prompt to Pay
                </li>
                <li>
                    Call History
                </li>

            </ul>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-6 els-col">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="tdrow">Name:</td>
                                            <td>
                                                <div style="display:flex;">  Mr. L.K. Janak Rathnayake <div id="tooltiptTitle"> </div> </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Card Number:</td>
                                            <td>
                                                0012-2451-0143-4557
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Occupation:</td>
                                            <td>
                                                Executive -ABC Company
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow"> Marital status:</td>
                                            <td>
                                                Married
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Age:</td>
                                            <td>
                                                37 years
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" class="tdrow">Finances with the Bank:</td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Loan/Card Date Granted:</td>
                                            <td>
                                                01 Jun 2017
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Loan/Card Amount(Limit)(Rs:):</td>
                                            <td>
                                                200000
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow"> Facilities:</td>
                                            <td>
                                                <div style="padding-bottom: 5px;">

                                                    <input for="eq1" class="k-checkbox" type="checkbox" checked="">
                                                    <label class="k-checkbox-label" for="eq1"></label>  Credit Card
                                                </div>
                                                <div style="padding-bottom: 5px;">
                                                    <input id="eq2" class="k-checkbox" type="checkbox" checked>
                                                    <label class="k-checkbox-label" for="eq2"></label> Personal Loan (Rs:2 million)
                                                </div>
                                                <div style="padding-bottom: 5px;">
                                                    <input id="eq3" class="k-checkbox" type="checkbox" checked="">
                                                    <label class="k-checkbox-label" for="eq3"></label>Housing Loan (Rs:6.5 million)
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow"> Deposits:</td>
                                            <td>
                                                <div style="padding-bottom: 5px;">

                                                    <input for="eq1" class="k-checkbox" type="checkbox" checked="">
                                                    <label class="k-checkbox-label" for="eq1"></label>  Saving Account (Rs: 105700.24)
                                                </div>

                                                <div style="padding-bottom: 5px;">
                                                    <input id="eq3" class="k-checkbox" type="checkbox" checked="">
                                                    <label class="k-checkbox-label" for="eq3"></label>Fixed Deposit (Rs: 375000.58)
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Special Note:</td>
                                            <td>
                                                <div>Started a new job </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="tdrow">No of Overdue times:</td>
                                            <td>
                                                5
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Due Date:</td>
                                            <td>
                                                26th
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Overdue Amount(Rs:):</td>
                                            <td>
                                                77,966.55
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Aging Bucket:</td>
                                            <td>
                                                10-40
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow" colspan="2">Last 6 Months Payment History:</td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="height:180px;" id="chartLastPymt"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Promise success rate:</td>
                                            <td>
                                                <div id="pgsPrmsScs"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow"> Last Promise:</td>
                                            <td>
                                                <div style="display:flex">
                                                    Amount : <div style="font-style: italic;padding-right: 15px;"> 1452.00</div>
                                                    date :<div style="font-style: italic;padding-right: 25px;">  25 jun 2019 </div>
                                                    <div class="tdrow" style="background-color:chartreuse;width: 75px;text-align: center;border: 1px solid;"> paid </div>
                                                </div>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-6 els-col">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="tdrow">Name:</td>
                                            <td>
                                                Mr. Janak Rathnayake
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">INC No:</td>
                                            <td>
                                                821562144V
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Occupation:</td>
                                            <td>
                                                <input type="text" value="Executive -ABC Company" style="width:250px;" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow"> Marital status:</td>
                                            <td>
                                                <div>
                                                    <input type="radio" name="engine" id="engine" class="k-radio">
                                                    <label class="k-radio-label" style="font-weight:100 !important" for="engine">Single</label>    &nbsp;
                                                    <input type="radio" name="engine" id="engine1" class="k-radio" checked="checked">
                                                    <label class="k-radio-label" style="font-weight:100 !important" for="engine1"> Married</label>   &nbsp;
                                                </div>
                                            </td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="tdrow">Email:</td>
                                            <td>
                                                janakrathnayke@gmail.com
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Date of Birth:</td>
                                            <td>
                                                <input type="date" id="dtDOB" value="1982-04-15" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Salary Date:</td>
                                            <td>
                                                <input type="date" id="dtSD" value="2018-05-25" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow" colspan="2">
                                                <input type="button" class="common-button" value="Save Changes" /> &nbsp;
                                                <input type="button" class="common-button" value="Reset" />
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row" style="border: 1px solid;border-color: #b9d5de;margin: 0px 8px 0px 8px;">
                            <div class="col-md-6 els-col">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="tdrow" colspan="2">Contact Information:</td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Contact Name:</td>
                                            <td>
                                                <input type="text" style="width:250px" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Contact:</td>
                                            <td>
                                                <input type="text" id="txtContact" />
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6 els-col">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                &nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow">Contact Type:</td>
                                            <td>
                                                <div id="ddlcontactType"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tdrow" colspan="2">
                                                <input type="button" class="common-button" value="Add Contact" /> &nbsp;
                                                <input type="button" class="common-button" value="Cancel" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-11x" style="padding-left:15px; padding-right:15px;">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <div id="gridcontat"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-6 els-col">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td style="width:160px; vertical-align:middle !important" class="tdrow">Promise Amount:</td>
                                            <td>
                                                <input type="number" value="1562.45" id="numPromisedAmnt" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <input id="eq10" class="k-checkbox" type="checkbox">
                                                <label class="k-checkbox-label" for="eq10"></label>  Reminder SMS  &nbsp;
                                                <input id="eq11" class="k-checkbox" type="checkbox">
                                                <label class="k-checkbox-label" for="eq11"></label>   Reminder Email &nbsp;
                                                <input id="eq12" class="k-checkbox" type="checkbox">
                                                <label class="k-checkbox-label" for="eq12"></label>  Reminder Call
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-borderless">
                                    <tbody>

                                        <tr>
                                            <td style="vertical-align:middle !important" class="tdrow">Promise Date:</td>
                                            <td>
                                                <input type="date" id="dtPromiseDate" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button class="common-button">Add Promise</button>  &nbsp;
                                                <button class="common-button">Reset</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <br />
                    <div style="margin-right: 15px;margin-left:15px;">
                        <div class="tdrow" style="margin-bottom:7px;"> Promise History </div>
                        <div id="gridPromise"></div>
                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-6 els-col">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="tdrow">Reason for not to pay</td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div id="gridAnalytic1"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="tdrow">Promises pay on time</td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="height:180px" id="chartAnalytic1"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="tdrow">Late Payment Charges against Due Amount</td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div id="gridAnalytic4"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="tdrow">Last 10 months Promises vs Paid</td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="height:180px" id="chartAnalytic4"></div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-6 els-col">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="tdrow">Upcoming Promotions</td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div id="gridAnalytic5"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="tdrow"> </td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div style="height:200px" id="chart5"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="tdrow">Late Payment Charges against Due Amount</td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div id="gridAnalytic6"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="tdrow"></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div style="height:440px; overflow-y:hidden;">
                <div>
                    <br />
                    <div style="margin-right: 15px;margin-left:15px;">

                        <div id="gridCallHistory"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
         
            setTimeout(function () {
                $("#main1").css("display", "none");
                $("#main2").css("display", "block");
            }, 2000);

            $("#tabstrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });

        //    $("#tabstrip ul").append('<li  id="tooltiptTitle"> </li>');
            var tooltip = $("#tooltiptTitle").kendoTooltip({
                autoHide: true,
                position: "right",
                filter: "div",
                content: "Recoverd Recently"
            }).data("kendoTooltip");
            $("#tooltiptTitle").addClass("tab-strip-title-circle1");
           // $(".tab-strip-title-circle").on('mouseover', function () { $("#tooltiptTitle").data('kendoTooltip').show(); if (isfirstMove) { console.log('move'); $("div[role='tooltip']").parent().css('padding-right', '27px'); isfirstMove = false; console.log('moved'); } });
            $(".tab-strip-title-circle1").on('mouseover', function () { $("#tooltiptTitle").data('kendoTooltip').show(); });
            $(".tab-strip-title-circle1").on('mouseleave', function () { $("#tooltiptTitle").data('kendoTooltip').hide(); });
 
           
        });
    </script>

    <div style="padding-top:10px; padding-bottom:40px">
        <div style="text-align: center;" id="callDial1">
            <input type="tel" value="0773706455" style=" text-align:center;font-size: 16px;font-weight: 600;width: 140px;vertical-align: middle;">
            <img id="call1" src="/ibee/images/phone.png" alt="0773706455" title="0773706455" class="crop-default" data-description="" style="cursor: pointer; vertical-align: middle;height: 35px;margin-left: 5px;">

            <input type="button" value="Cancel" class="common-button bttnNextCall" style="float: right; margin-right: 20px; margin-top:4px;" />
            <input type="button" value="Next Call" class="common-button bttnNextCall" style="float: right; margin-right: 10px; margin-top:4px;" />
        </div>
        <div style="text-align: center; display:none" id="callDial2">
            <span style=" text-align:center;font-size: 15px;font-weight: 600;width: 140px; color: #9daeb7;"> 0773706455 </span>
            Dailing...
            <img id="call2" src="/ibee/images/phone.png" alt="0773706455" title="0773706455" class="crop-default" data-description="" style="cursor: pointer; vertical-align: middle;height: 35px;margin-left: 5px; transform: rotate(100deg);">
        </div>
        <div style="text-align: center; display:none" id="callDial3">
            <span style=" text-align:center;font-size: 14px;font-weight: 600;width: 140px; color: #9daeb7; ">   0773706455</span>
            <span id="spantimer" style=" text-align:center;font-size: 15px;font-weight: 600;width: 200px; padding-left:10px; padding-right:5px; transform: rotate(132deg);">00-00-00</span>
            <img id="call3" src="/ibee/images/phone-calling.png" alt="0773706455" title="0773706455" class="crop-default" data-description="" style="cursor: pointer; vertical-align: middle;height: 35px;margin-left: 5px;  transform: rotate(132deg)">
        </div>
    </div>
</div>


<div style="display:none" id="wndwUserFeedback"></div>



