﻿
@{
    ViewData["Title"] = "CreateQuestionPaper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/pdf/pdf.cropper.css" rel="stylesheet" />
<link href="~/css/pdf/els.pagination.css" rel="stylesheet" />

@*<environment include="Development">*@

    <script src="~/js/pdf/pdf.cropper.js"></script>
    <script src="~/js/pdf/pdf.html2canvas.min.js"></script>
    <script src="~/js/pdf/pdf.js"></script>
    <script src="~/js/pdf/pdf.read.js"></script>
    <script src="~/js/Admin/els.pagination.js"></script>

    <script src="~/js/els.common.js"></script>
    <script src="~/js/Admin/els.papercreation.js"></script>

@*</environment>*@
    



    <style>
            /*.container {
            margin: 20px auto;
            overflow: scroll;
        }*/

            img {
                max-width: 100%;
                overflow: scroll;
            }

            #the-canvas {
                border: 1px solid black;
            }

            .crope-container {
                /*overflow-y: scroll;*/
                overflow-x: hidden;
            }

            .els-radio-answer {
                text-align: center;
            }

                .els-radio-answer label {
                    margin-right: 20px;
                }

                .els-radio-answer input {
                    vertical-align: middle;
                    width: 1.8em;
                    height: 1.8em;
                }

                    .els-radio-answer input:checked + label {
                        color: #9dc0f1;
                    }

            #paperSelQtnContent {
                border: 1px solid;
                border-color: #eee;
                height: 340px;
            }

            .k-radio:checked + .k-radio-label:after {
                content: "";
                width: 15px;
                height: 15px;
                position: absolute;
                top: 3px;
                left: 3px;
            }

            .k-radio-label:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 21px;
                height: 21px;
                border-style: solid;
            }

            .k-radio-label {
                padding-top: 3px;
            }

            .upload-success {
                width: 300px;
                height: 100px;
            }

            k-notification-success {
                background-color: #00cc2c;
                color: #707070;
                border-color: #079c27;
            }
    </style>

    <script>
        $(function () {
            els.modules.admin.managePapers.init();
        });
    </script>

    <h2 class="page-title">Manage Question Paper</h2>
    <hr class="hr-title" />

    <span id="configurableNotification" style="display:none;"></span>


    <div id="paperMain" style="display:none;">
        <input type="button" value="Create New" id="paperButtonNew" class="common-button" />
        <br />
        <br />

        <div id="formCreatePaperSh">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-6 els-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Qualification</th>
                                <td>
                                    <div id="ddlPaperQalificationSh" name="ddlPaperQalificationSh" required validationMessage="Select qualification" />
                                    <span class="k-invalid-msg" data-for="ddlPaperQalificationSh"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Year</th>
                                <td>
                                    <input type="text" id="datePaperYearSh" name="datePaperYearSh" style="width:150px;" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 els-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Subject</th>
                                <td>
                                    <div type="text" id="ddlPaperQlftnSujSh"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Stage</th>
                                <td>
                                    <div type="date" id="ddlPaperStageSh" name="ddlPaperStageSh"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 els-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Revision</th>
                                <td>
                                    <div id="ddlPaperRevisionSh" name="ddlPaperRevisionSh"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr></tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 els-col">

                        <table class="table table-borderless">
                            <tr>
                                <td scope="row">
                                    <input type="button" class="common-button" value="Search" id="buttonSavePaperSh" />
                                    <input type="button" class="common-button" value="Reset" id="buttonSavePaperResetSh" />
                                </td>
                                <td></td>
                            </tr>
                            <tr></tr>
                        </table>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
        <br />
        <div style="height:200px" id="gridContainer">
            <div id="paperGrid" style="height:100%;"></div>
        </div>
    </div>

    <div id="paperCreateNew" style="display:none;">
        <br />
        <div id="formCreatePaper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-11 ">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Name</th>
                                <td>
                                    <input type="text" id="txtPaperName" name="txtPaperName" style="width:300px" required validationMessage="Enter name" />
                                    <span class="k-invalid-msg" data-for="txtPaperName"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 els-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Qualification</th>
                                <td>
                                    <div id="ddlPaperQalification" name="ddlPaperQalification" required validationMessage="Select qualification" />
                                    <span class="k-invalid-msg" data-for="ddlPaperQalification"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Subject</th>
                                <td>
                                    <div type="text" id="ddlPaperQlftnSuj" required validationMessage="Select qualification" />
                                    <span class="k-invalid-msg" data-for="ddlPaperQlftnSuj"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 els-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Stage</th>
                                <td>
                                    <div type="date" id="ddlPaperStage" name="ddlPaperStage" required validationMessage="Select stage" />
                                    <span class="k-invalid-msg" data-for="ddlPaperStage"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Term</th>
                                <td>
                                    <div type="date" id="ddlPaperTerm" name="ddlPaperTerm" required validationMessage="Select term" />
                                    <span class="k-invalid-msg" data-for="ddlPaperTerm"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 els-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Revision</th>
                                <td>
                                    <div id="ddlPaperRevision" name="ddlPaperRevision" required validationMessage="Select revision" />
                                    <span class="k-invalid-msg" data-for="ddlPaperRevision"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Year</th>
                                <td>
                                    <input type="text" id="datePaperYear" name="datePaperYear" value="2018" style="width:150px;" required="required" validationMessage="Enter name" />
                                    <span class="k-invalid-msg" data-for="datePaperYear"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 els-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Allocated Time</th>
                                <td>

                                    <input id="numPaperAllctTime" name="numPaperAllctTime" type="text" min="1" style="width:70px" required validationMessage="Enter allocated time" />
                                    <span class="k-invalid-msg" data-for="numPaperAllctTime"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">No of Questions</th>
                                <td>
                                    <input id="numPaperNoOfQstn" name="numPaperNoOfQstn" type="text" min="1" style="width:70px" required validationMessage="Enter no of questions" />
                                    <span class="k-invalid-msg" data-for="numPaperNoOfQstn"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11 els-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Description</th>
                                <td>
                                    <textarea id="txtPaperDesc" style="width:100%"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11 ">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">PDF File</th>
                                <td>
                                    <input name="filePaperFile" id="filePaperFile" type="file" accept=".pdf" required validationMessage="Select pdf file" />
                                    <span class="k-invalid-msg" data-for="filePaperFile"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 els-col">

                        <table class="table table-borderless">
                            <tr>
                                <td scope="row">
                                    <input type="button" class="common-button" value="Save" id="buttonSavePaper" />
                                    <input type="button" class="common-button" value="Cancel" id="buttonSavePaperCancel" />
                                </td>
                                <td></td>
                            </tr>
                            <tr></tr>
                        </table>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="paperContentCreation" style="display:none;">
        <div class="menu-container">
            <input type="button" id="btnCancelAddQuestions" value="Cancel" class="common-button" />
            <input type="button" id="btnAddQuestion" value="Create Question" class="common-button" />
            <div class="els-added-question">

            </div>
            <div style="display:none">
                Image resolution by &nbsp;  <input id="sliderPaperScale" />
                <input type="button" id="buttonRfrshPaper" value="Refresh" class="common-button" />
            </div>
            <br />

            <table style="display:none;">
                <tr>
                    <td>Left</td>
                    <td>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="0" class="slider" id="rangeLeft">
                        </div>
                    </td>
                    <td>&nbsp; &nbsp;</td>
                    <td>Top</td>
                    <td>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="0" class="slider" id="rangeTop">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Width</td>
                    <td>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="0" class="slider" id="rangeWidth">
                        </div>
                    </td>
                    <td>&nbsp; &nbsp;</td>
                    <td>Height</td>
                    <td>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="0" class="slider" id="rangeHeight">
                        </div>
                    </td>
                </tr>
            </table>

            <br />

        </div>
        <br />
        <div class="crope-container">
            <div class="container" style="width:100%;">
                <div class="img-container" style="width:100%;">
                    <img id="imagemain" src="" alt="Picture" style="width:100%;">
                </div>
                <div class="img-container" style="display:none;">
                    <canvas id="the-canvas"></canvas>
                </div>
            </div>
        </div>

        <br />
        <div>
            <div style="text-align:center;">
                <button class="common-button" style="width:63px;" id="prev">Previous</button>
                <button class="common-button" style="width:63px;" id="next">Next</button>
                &nbsp; &nbsp;
                <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
            </div>
        </div>
    </div>

    <div id="paperQuestionContent" style="display:none;">
        <input type="button" value="Cancel" id="paperCancelQuestion" class="common-button" />
        <input type="button" value="Add New" id="paperAddQuestion" class="common-button" />
        <input type="button" value="Edit" id="paperEditQuestion" class="common-button" style="display:none" />
        <br />
        <br />

        <div id="paperSelQtnContent"></div>


        <br />
        <div class="pagination-holder clearfix">
            <div id="paperQuestionNavigation" class="pagination"></div>
        </div>
    </div>

    <div style="display:none" id="wndAddEditQuestion">
        <div id="formAddEditQuestion">
            <div class="container-fluid">

                @*   <div class="row row-one">*@


                <div class="row">
                    <div class="col-md-11">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Unit</th>
                                <td>
                                    <select id="multiselectAnsUnit" name="multiselectAnsUnit" style="width: 80%;" required validationMessage="Select unit(s)" />
                                    <span class="k-invalid-msg" data-for="multiselectAnsUnit"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6 els-col-cropped">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Question No </th>
                                <td>
                                    <input type="number" id="numAnsQuestionNo" style="width:70px;" name="numAnsQuestionNo" required validationMessage="Enter question no" />
                                    <span class="k-invalid-msg" data-for="numAnsQuestionNo"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row"> Oringin</th>
                                <td>
                                    <div id="ddlAnsOrigin" name="ddlAnsOrigin" required validationMessage="Enter Question No" />
                                    <span class="k-invalid-msg" data-for="numAnsQuestionNo"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 els-col-cropped">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Difficulity Level </th>
                                <td>
                                    <div id="formDifficultyLevel">
                                        <input type="radio" name="radioAnsDiffLevel" value="0" required /> Low
                                        <input type="radio" name="radioAnsDiffLevel" value="1" required /> Medium
                                        <input type="radio" name="radioAnsDiffLevel" value="2" required />High
                                        <span class="k-invalid-msg" data-for="radioAnsDiffLevel"></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row"> Allocated Time</th>
                                <td>
                                    <input type="number" id="numAnsAlctTime" style="width:70px;" name="numAnsAlctTime" required validationMessage="Enter allocated time" />
                                    <span class="k-invalid-msg" data-for="numAnsAlctTime"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6 els-col-cropped">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">No of Answers </th>
                                <td>
                                    <input type="number" id="numAnswers" style="width:70px" name="numAnswers" required validationMessage="Enter question No" />
                                    <span class="k-invalid-msg" data-for="numAnswers"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row"> Correct Answer</th>
                                <td>
                                    <input type="number" id="numAnsCorrectAns" style="width:70px" name="numAnsCorrectAns" required validationMessage="Enter Question No" />
                                    <span class="k-invalid-msg" data-for="numAnsCorrectAns"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11 els-col">
                        <table class="table table-borderless">
                            <tr>
                                <th scope="row">Description</th>
                                <td>
                                    <textarea id="txtAnsDesc" style="width:100%"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11" id="imgCroppedContainer" style="margin-left:20px;border: 1px solid #eeeeee;">
                        <img id="imgPaperCroppedQuestion" style="display:block; margin:auto; object-fit:scale-down;" />
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6 els-col">

                        <table class="table table-borderless">
                            <tr>
                                <td scope="row">
                                    <input type="button" class="common-button" value="Save" id="buttonSaveQuestion" />
                                    <input type="button" class="common-button" value="Download Image" id="buttonDownloadQImage" />
                                    <input type="button" class="common-button" value="Cancel" id="buttonSaveQuestionCancel" />
                                </td>
                                <td></td>
                            </tr>
                            <tr></tr>
                        </table>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script id="infoTemplate" type="text/x-kendo-template">
        <div class="info-notification">
            <img src="../content/web/notification/envelope.png" />
            <h4>#= title #</h4>
            <p>#= message #</p>
        </div>
    </script>

    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="../content/web/notification/error-icon.png" />
            <h43>#= title #</h43>
            <p>#= message #</p>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="upload-success">
            <img src="../content/web/notification/success-icon.png" />
            <h4>#= message #</h4>
        </div>
    </script>


    <script src="~/js/pdf/pdf.data.js"></script>


