﻿@{
    ViewData["Title"] = "CreateQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/pdf/els.pagination.css" rel="stylesheet" />

<script src="~/js/Admin/els.pagination.js"></script>

<script src="~/js/els.common.js"></script>
<script src="~/js/Quiz/elm.quiz.createquiz.js"></script>

<style>
    /*.container {
            margin: 20px auto;
            overflow: scroll;
        }*/

    img {
        max-width: 100%;
        overflow: scroll;
    }

    #the-canvas {
        border: 1px solid black;
    }

    .crope-container {
        /*overflow-y: scroll;*/
        overflow-x: hidden;
    }

    .els-radio-answer {
        text-align: center;
    }

        .els-radio-answer label {
            margin-right: 25px;
            padding-top: 0px;
        }

    .k-radio-label:before {
        width: 16px !important;
        height: 16px !important;
    }

    .k-checkbox-label, .k-radio-label {
        line-height: 18px !important;
    }

    .els-radio-answer input:checked + label {
        color: #9dc0f1;
    }

    #paperSelQtnContent {
        border: 1px solid;
        border-color: #eee;
        height: 340px;
    }

    .k-radio:checked + .k-radio-label:after {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        top: 3px;
        left: 3px;
    }

    .k-radio-label:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        border-style: solid;
    }

    .k-radio-label {
        padding-top: 3px;
    }

    .upload-success {
        width: 300px;
        height: 100px;
    }

    k-notification-success {
        background-color: #00cc2c;
        color: #707070;
        border-color: #079c27;
    }
</style>

<script>
    $(function () {
        els.modules.quiz.createquiz.init();
    });
</script>

<h2 class="page-title">Create New Quiz</h2>
<hr class="hr-title" />

<div id="createQuizMain">
    <br />
    <div id="formCreatePaper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6 els-col">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Qualification</th>
                            <td>
                                <div id="ddlQalification" name="ddlQalification" required validationMessage="Select qualification" />
                                <span class="k-invalid-msg" data-for="ddlQalification"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Stage</th>
                            <td>
                                <div type="date" id="ddlStage" name="ddlStage" required validationMessage="Select stage" />
                                <span class="k-invalid-msg" data-for="ddlStage"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 els-col">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Term</th>
                            <td>
                                <div type="date" id="ddlTerm" name="ddlTerm" required validationMessage="Select term" />
                                <span class="k-invalid-msg" data-for="ddlTerm"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Subject</th>
                            <td>
                                <div type="text" id="ddlQlftnSuj" name="ddlQlftnSuj" required validationMessage="Select qualification" />
                                <span class="k-invalid-msg" data-for="ddlQlftnSuj"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-11 ">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Unit</th>
                            <td>
                                <div id="multiselectAnsUnit" name="multiselectAnsUnit" required validationMessage="Select unit(s)" />
                                <span class="k-invalid-msg" data-for="multiselectAnsUnit"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-11 ">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Difficulty </th>
                            <td>
                                HIGH <input id="diffLevel0" name="diffLevel" type="text" min="1" style="width:70px" required validationMessage="Enter valid value" />% &nbsp;&nbsp;&nbsp;&nbsp;
                                MEDIUM  <input id="diffLevel1" name="diffLevel" type="text" min="1" style="width:70px" required validationMessage="Enter valid value" />% &nbsp;&nbsp;&nbsp;&nbsp;
                                LOW  <input id="diffLevel2" name="diffLevel" type="text" min="1" style="width:70px" required validationMessage="Enter valid value" />%
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 els-col">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Year From </th>
                            <td>
                                <input type="text" id="dateYearFrom" name="dateYearFrom" value="2018" style="width:150px;" required="required" validationMessage="Enter from date" />
                                <span class="k-invalid-msg" data-for="dateYearFrom"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Year To</th>
                            <td>
                                <input type="text" id="dateYearTo" name="dateYearTo" value="2018" style="width:150px;" required="required" validationMessage="Enter to date" />
                                <span class="k-invalid-msg" data-for="dateYearTo"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 els-col">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Revision</th>
                            <td>
                                <div id="ddlRevision" name="ddlRevision" required validationMessage="Select revision" />
                                <span class="k-invalid-msg" data-for="ddlRevision"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Type</th>
                            <td>
                                <input type="radio" value="1" name="radioQuizType" /> Practice
                                <input type="radio" value="2" name="radioQuizType" /> Exam
                                <span class="k-invalid-msg" data-for="datePaperYear"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 els-col">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">Time</th>
                            <td>

                                <input id="numAllctTime" name="numAllctTime" type="text" min="1" style="width:70px" required validationMessage="Enter allocated time" />
                                <span class="k-invalid-msg" data-for="numAllctTime"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-borderless">
                        <tr>
                            <th scope="row">No of Questions</th>
                            <td>
                                <input id="numNoOfQstn" name="numNoOfQstn" type="text" min="1" style="width:70px" required validationMessage="Enter no of questions" />
                                <span class="k-invalid-msg" data-for="numNoOfQstn"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 els-col">

                    <table class="table table-borderless">
                        <tr>
                            <td scope="row">
                                <input type="button" class="common-button" value="Create Quiz" id="buttonCreateQuiz" />
                                <input type="button" class="common-button" value="Cancel" id="buttonCreateQuizCancel" />
                            </td>
                            <td></td>
                        </tr>
                        <tr></tr>
                    </table>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>

<div style="display:none;" id="confirmation1">
    <div>

    </div>
</div>

<div id="qContentMain" style="display:none">

    <div id="paperSelQtnContent"></div>


    <br />
    <div class="els-radio-answer els-button-controller">
        <input type="checkbox" name="paperQtnAwrSure" id="paperQtnAwrSure" class="k-checkbox radio-quiz-answer">
        <label class="k-checkbox-label" for="paperQtnAwrSure">   &nbsp;Not Sure</label>
        <input type="button" value="Set Answer OR Skip & Next" id="bttnAnsSelctNGo" class="common-button" />
    </div>

    <div id="qestionContent">
        
    </div>
    <br />

    <div class="pagination-holder clearfix">
        <div id="paperQuestionNavigation" class="pagination"></div>
    </div>

</div>

<div id="qSummary" style="display:none">

</div>

<div id="qAnalytics" style="display:none">

</div>