﻿@model OnlineLearningSolution.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<form method="post" asp-controller="Account" asp-action="Login" class="login-form validate-form">



    @if (Model.Institutes != null)
    {
        <span class="login-form-title p-b-34">
            Select a Institute to Continue.
        </span>

        <div style="display:none" class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            <input asp-for="UserName" class="input100" />
            <span asp-validation-for="UserName" class="focus-input100"></span>

        </div>

        <div style="display:none" class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
            <input asp-for="Password" class="input100" />
            <span asp-validation-for="Password" class="focus-input100"></span>
        </div>

        <div style="display:none" class="  rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
            <span asp-validation-for="RememberMe"></span>
        </div>
        <div class="radio-institutes" style="height:228px;">
            @foreach (var lItem in Model.Institutes)
            {
                <div class="row">
                    <label>
                        @Html.RadioButtonFor(m => m.SelectedInstituteID, lItem.ID, new { @class = "login-radio-button" })
                        @lItem.Name
                    </label>
                </div>
            }
        </div>

        <div class="container-login-form-btn">
            <input type="submit" value="Continue" class="login-form-btn" id="button-continue" />
        </div>
    }

    @if (Model.Institutes == null)
    {
        <span class="login-form-title p-b-34">
            Sign in to continue.
        </span>
 
            <div class="wrap-text">
                Username
            </div>

            <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                <input asp-for="UserName" class="input100" />
                <span asp-validation-for="UserName" class="focus-input100"></span>

            </div>
            <div class="wrap-text  ">
                Password
            </div>
            <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                <input asp-for="Password" class="input100" />
                <span asp-validation-for="Password" class="focus-input100"></span>
            </div>

            <div class="  rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div class="container-login-form-btn">
                <input type="submit" value="Login" class="login-form-btn" id="button-login" />
            </div>
        
        <div class="w-full text-right p-t-27 ">
            <a href="#" class="txt2">
                Forgot password?
            </a>
        </div>
       
    }




</form>

<script>
    $(function () {
        $("#button-continue").on("click", function () {
            var checked_checkboxes = $(".radio-institutes input[type=radio]:checked");
            if (checked_checkboxes.length == 0) {
                $(".login-form-title").css("color", "#ff0000");
                return false;
            }
            return true;
        });
    });
</script>

