﻿@model OnlineLearningSolution.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<br />
<br />
<h2 class="page-title container-fluid ">User Registration</h2>
<hr class="hr-title container-fluid " />

<form asp-action="Register" id="formRegister">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="GuardianName" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="GuardianName" class="form-control" />
                            <span asp-validation-for="GuardianName" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="GuardianEmail" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="GuardianEmail" class="form-control" />
                            <span asp-validation-for="GuardianEmail" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="GuardianPhoneNo" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="GuardianPhoneNo" class="form-control" />
                            <span asp-validation-for="GuardianPhoneNo" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="GuardianRelationShip" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="GuardianRelationShip" class="form-control" />
                            <span asp-validation-for="GuardianRelationShip" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="FirstName" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="LastName" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="FamilyName" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="FamilyName" class="form-control" />
                            <span asp-validation-for="FamilyName" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="OtherNames" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="OtherNames" class="form-control" />
                            <span asp-validation-for="OtherNames" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="Birthday" class="control-label"></label>
                        </th>
                        <td>
                     
                            @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control datepickerdob" })

                            <span asp-validation-for="Birthday" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="UserGender" class="control-label"></label>
                        </th>
                        <td>
                            
                            Male
                            @Html.RadioButtonFor(model => model.UserGender, "MALE")
                            Female
                            @Html.RadioButtonFor(model => model.UserGender, "FEMALE")
                            <span asp-validation-for="UserGender" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="Description" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="CountryId" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="CountryId" class="form-control" />
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="NickName" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="NickName" class="form-control" />
                            <span asp-validation-for="NickName" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="Username" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="Code" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="Password" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <label asp-for="PasswordHint" class="control-label"></label>
                        </th>
                        <td>
                            <input asp-for="PasswordHint" class="form-control" />
                            <span asp-validation-for="PasswordHint" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 els-col">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">
                            <input type="submit" value="Save" class="btn btn-default" id="buttonRegister"/>
                        </th>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th scope="row">

                        </th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>


</form>




<script>
    //$("#formRegister").kendoValidator({});

    //$("#buttonRegister").on("click", function () {
    //    $("#formRegister").data('kendoValidator').validate();
    //    return false;
    //});

    $(".datepickerdob").kendoDatePicker({});
</script>