﻿<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/site_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/AdminLTE.min.css">

    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/els.common.js"></script>
 

    <link href="~/css/knd/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/knd/kendo.default.min.css" rel="stylesheet" />
    <link href="~/css/knd/kendo.metro.min.css" rel="stylesheet" />


    <script src="~/js/knd/jquery.min.js"></script>
    <script src="~/js/knd/kendo.all.min.js"></script>

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/page-payouts.css" rel="stylesheet" />
 


    <style>
        body {
            background-color: #fff !important;
        }

        .table tr th {
            width: 150px !important;
        }

        .form-control {
            height: 30px;
        }

        .col-md-6 {
            max-width: 500px;
        }

        .container-fluid {
            margin: 0 auto;
            position: relative;
            width: 100%;
            max-width: 1000px;
            height: auto;
            margin: 0 auto;
            padding: 10px;
            position: relative;
        }

        .main-footer {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
     
    <footer class="main-footer container-fluid ">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2019 <a href="https://als.com">e Learning Solution </a>.</strong> All rights reserved.
    </footer>


</body>
</html>