﻿<!DOCTYPE html>
<html>
<head>
    <title>Teacher Transfer</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/site_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/page-payouts.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/site_components/font-awesome/css/font-awesome.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/css/skins/skin-blue.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/page-payouts.css" rel="stylesheet" />
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/els.common.js"></script>

</head>
 
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini" style="font-style: italic; font-family: initial; font-size: 25px;">t-<b>Tfr</b></span>
                <!-- logo for regular state and mobile devices -->

                <div>
                    
                    <span class="logo-lg" style="font-style:italic; font-family: initial; font-size: 25px;"><b>Teacher Transfer</b></span>
                </div>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="/ibee/images/user-default.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">Janaka Ariyasiri</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="/ibee/images/user-default.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Janaka Ariyasiri - Student
                                        <small>Member since Nov. 2018</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="../Account/Logout" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <br />
                <br />
                <!-- search form (Optional) -->
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                @Html.Partial("_MainMenu")
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-main">
                <br />
                @RenderBody()
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- Default to the left -->
            <strong>Copyright &copy; 2020 <a href="https://als.com"> Stredge Solution </a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 3 -->
    <!-- Bootstrap 3.3.7 -->
    <script src="~/site_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>

    <link href="~/css/knd/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/knd/kendo.default.min.css" rel="stylesheet" />
    <link href="~/css/knd/kendo.metro.min.css" rel="stylesheet" />


    <script src="~/js/knd/jquery.min.js"></script>
    <script src="~/js/knd/kendo.all.min.js"></script>

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/page-payouts.css" rel="stylesheet" />
    <script src="~/js/Admin/els.pagination.js"></script>
</body>
</html>

 