﻿
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="~/css/login-main.css">
    <link rel="stylesheet" type="text/css" href="~/css/login-util.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>  


</head>
<body>

    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">

                @RenderBody()

            </div>
        </div>
    </div>



</body>
</html>
