﻿<ul class="sidebar-menu" data-widget="tree">

    <li class="active"><a href="~/"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span> Teacher</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Teacher">Submit Application</a></li>
            <li><a href="~/Teacher">Transfer Management </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>  Deputy Principal</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/DeputyPrincipal">Appove Application</a></li>
            <li><a href="~/DeputyPrincipal">Application Management </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>  Principal</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Principal">Appove Application</a></li>
            <li><a href="~/Principal">Application Management</a></li>
            <li><a href="~/Principal"> Vacancy Management </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span> Transfer Committee</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/TransferCommittee">Appove Transfer</a></li>
            <li><a href="~/TransferCommittee">Transfer Management </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span> Minister/ Secretary</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/MinisterSecretary">View Transfer</a></li>
            <li><a href="~/MinisterSecretary">Special Order </a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>  Analytics</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/ "> Analytics </a></li>
        </ul>
    </li>


    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Configuration</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="~/Manage/MyProfile"> Manage Profile</a></li>
            <li><a href="~/Account/ResetPassword">Change Password</a></li>
        </ul>
    </li>

</ul>  